<div id="section-header">
  <div class="header-top-area">
    <div class="container">
      <div class="header-top-area-row">
        <div class="header-top-area-row-left">
          <p>VietNam's Fastest Online Shopping Destination</p>
        </div>
        <div class="header-top-area-row-right">
          <ul>
            <li><a href="#">My Account</a></li>
            <li><a routerLink="./mywishlist">My Wish List</a></li>
            <li><a routerLink="./signin">Sign In</a></li>
            <li><a routerLink="./product">VNĐ</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="header-min-area">
    <div class="container">
      <div class="header-min-area-row">
        <div class="header-min-area-row-left">
          <div class="header-min-area-row-left-img">
            <a>
              <img
                src="https://cdn.shopify.com/s/files/1/0005/2527/1103/files/logo_088078d9-3c51-4b4b-b6cb-ee392baf858b_300x.png?v=1614747198">
            </a>
          </div>
        </div>
        <div class="header-min-area-row-right">
          <div class="header-search">
            <form action="" method="get" [formGroup]="searchForm" (ngSubmit)="onsearch()">
              <input formControlName="name" type="search" placeholder="Search our store" aria-label="Search our store" value="">
              <button routerLink="./search" type="submit" >
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </form>
          </div>
          <div class="shopping-area">
            <ul>
              <li class="shopping-area-number">
                <a routerLink="./cart">
                  <i class="fas fa-shopping-cart"></i>
                  My Cart
                </a>
                <span class="bigcounter">1</span>
                <div style="display: none" class="shopping-cart cart-empty-title">
                  <h2>Your cart is currently empty.</h2>
                </div>
                <div style="display: block" class="shopping-cart mini-cart">
                  <ul>
                    <li>
                      <div class="cart-list">
                        <div class="cart-img">
                          <a href="#">
                            <img src="//cdn.shopify.com/s/files/1/0005/2527/1103/products/1_small.jpg?v=1521019595" alt="watch">
                          </a>
                        </div>
                        <div class="cart-info">
                          <h4><a href="/products/accusantium-doloremque?variant=6998287810623">accusantium doloremque - xl / yellow / partex</a></h4>
                          <div class="cart-price">
                            <span class="price">Qty: 1 x <span class="money" data-currency-usd="$130.00">$130.00</span></span>
                          </div>
                        </div>
                        <div class="pro-del">
                          <a href="#" title="Remove this item">
                            <i class="fa-solid fa-xmark"></i>
                          </a>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <div class="mini-cart-total">
                    <span>Total</span>
                    <span class="total-price shopping-cart__total">
                      <span class="money">$130.00</span>
                    </span>
                  </div>
                  <div class="cart-button">
                    <a routerLink=".cart" title="Cart">View Cart</a>
                    <a href="#" title="Checkout" class="right">Checkout</a>
                  </div>
                </div>
              </li>
              <li>
                <a routerLink="./wishlist">
                  <i class="far fa-heart"></i>
                  Wishlist
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
