<div id="section-footer">
  <div class="footer-top1">
    <div class="top1-logo-shop">
      <div class="item-logo">
        <div class="single-logo-brand">
          <a href="#">
            <img src="https://cdn.shopify.com/s/files/1/0005/2527/1103/files/2_fdd2fb89-31b8-417f-8641-e1d063716ad7_compact.png?v=1614746833">
          </a>
        </div>
      </div>
      <div class="item-logo">
        <div class="single-logo-brand">
          <a href="#">
            <img src="https://cdn.shopify.com/s/files/1/0005/2527/1103/files/1_f5f242c4-6ef7-46a1-9152-e975cbd2f60b_compact.png?v=1614746833">
          </a>
        </div>
      </div>
      <div class="item-logo">
        <div class="single-logo-brand">
          <a href="#">
            <img src="https://cdn.shopify.com/s/files/1/0005/2527/1103/files/3_25dd9269-b35e-4772-ae35-81f07f980f7c_compact.png?v=1614746833">
          </a>
        </div>
      </div>
      <div class="item-logo">
        <div class="single-logo-brand">
          <a href="#">
            <img src="https://cdn.shopify.com/s/files/1/0005/2527/1103/files/4_d0b3896c-edf2-4972-93a6-5d5f2891e61d_compact.png?v=1614746833">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-top2">
    <div class="footer-top2-item title-left">
      <h3>SIGN UP FOR NEWSLETTERS</h3>
      <p>Be the First to Know. Sign up for newsletter today</p>
    </div>
    <div class="footer-top2-item title-right">
     <form>
       <div class="right-mail">
         <input class="mail-item search" type="text" placeholder="    email@example.com">
         <button  type="button" class="mail-item btn btn-danger">SUBSCRIBE</button>
       </div>
     </form>
    </div>
  </div>
  <div class="footer-top3">
    <div class="top3">
      <div class="top3-item">
        <div class="left-item left-icon">
          <i class="fa-sharp fa-solid fa-phone-volume"></i>
        </div>
        <div class="left-item left-title">
          <h3>FREE RETURN</h3>
          <p>30 days money back guarantee!</p>
        </div>
      </div>
      <div class="top3-item">
        <div class="left-item left-icon">
          <i class="fa-solid fa-envelope"></i>
        </div>
        <div class="left-item left-title">
          <h3>FREE RETURN</h3>
          <p>30 days money back guarantee!</p>
        </div>
      </div>
      <div class="top3-item">
        <div class="left-item left-icon">
          <i class="fa-regular fa-clock"></i>
        </div>
        <div class="left-item left-title">
          <h3>FREE RETURN</h3>
          <p>30 days money back guarantee!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-main">
    <div class="footer-main-item">
      <div class="footer-main-item-logo">
        <img src="https://cdn.shopify.com/s/files/1/0005/2527/1103/files/1_compact.png?v=1614745158">
      </div>
      <div class="footer-main-item-text">
        <p>We are a team of designers and developers that create high quality Magento, Prestashop</p>
        <h3>Contact info:</h3>
        <h4>169-C, Technohub, Dubai Silicon Oasis</h4>
        <ul class="footer-main-item-text-list">
          <li>
            <a href=""><i class="fa-brands fa-facebook-f"></i></a>
          </li>
          <li>
            <a href=""><i  class="fa-brands fa-twitter"></i></a>
          </li>
          <li>
            <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
          </li>
          <li>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
          </li>
          <li>
            <a href=""><i class="fa-brands fa-pinterest-p"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-main-item">
      <div class="footer-main-item-title">
        <h3>CUSTOMER SERVICE</h3>
      </div>
      <div class="footer-main-item-menu">
        <ul>
          <li class="footer-main-item-menu--efect">
            <a href="" class="effect"><i class="fa-solid fa-angle-right fa-right2"></i>  Shipping Policy</a>
          </li>
          <li class="footer-main-item-menu--efect">
            <a href="" class="effect"><i class="fa-solid fa-angle-right"></i>  Order History</a>
          </li>
          <li class="footer-main-item-menu--efect">
            <a href="" class="effect"><i class="fa-solid fa-angle-right"></i>  Returns</a>
          </li>
          <li class="footer-main-item-menu--efect">
            <a href="" class="effect"><i class="fa-solid fa-angle-right"></i>  Specials</a>
          </li>
          <li class="footer-main-item-menu--efect">
            <a href="" class="effect"><i class="fa-solid fa-angle-right"></i>  Unsubscribe Notification</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-main-item">
      <div class="footer-main-item-title">
        <h3>INFORMATION</h3>
      </div>
      <div class="footer-main-item-menu">
        <ul>
          <li class="footer-main-item-menu--efect">
            <a href="" class="effect"><i class="fa-solid fa-angle-right"></i>  Shipping Policy</a>
          </li>
          <li class="footer-main-item-menu--efect">
            <a href="" class="effect"><i class="fa-solid fa-angle-right"></i>  Order History</a>
          </li>
          <li class="footer-main-item-menu--efect">
            <a href="" class="effect"><i class="fa-solid fa-angle-right"></i>  Returns</a>
          </li>
          <li class="footer-main-item-menu--efect">
            <a href="" class="effect"><i class="fa-solid fa-angle-right"></i>  Specials</a>
          </li>
          <li class="footer-main-item-menu--efect">
            <a href="" class="effect"><i class="fa-solid fa-angle-right"></i>  Unsubscribe Notification</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-main-item">
      <div class="footer-main-item-title">
        <h3>EXTRAS</h3>
      </div>
      <div class="footer-main-item-menu">
        <ul>
          <li class="footer-main-item-menu--efect">
            <a href="" class="effect"><i class="fa-solid fa-angle-right"></i>  About us</a>
          </li>
          <li class="footer-main-item-menu--efect">
            <a href="" class="effect"><i class="fa-solid fa-angle-right"></i>  Specials</a>
          </li>
          <li class="footer-main-item-menu--efect">
            <a href="" class="effect"><i class="fa-solid fa-angle-right"></i>  Returns</a>
          </li>
          <li class="footer-main-item-menu--efect">
            <a href="" class="effect"><i class="fa-solid fa-angle-right"></i>  Affiliates</a>
          </li>
          <li class="footer-main-item-menu--efect">
            <a href="" class="effect"><i class="fa-solid fa-angle-right"></i>  FAQ</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-mid">
    <div class="footer-mid-container">
      <div class="footer-mid-item">
      <div class="footer-mid-item-list">
        <ul>
          <li>
            <a href="">Online Shopping</a>|
            <a href="">Promotions </a>|
            <a href="">My Orders</a>|
            <a href="">Support</a>|
            <a href="">Most Populars</a>|
            <a href="">Shipping</a>|
            <a href="">Payments</a>|
            <a href="">Checkout</a>|
            <a href="">Terms & Conditio</a>|
            <a href="">Refunds</a>
          </li>
        </ul>
      </div>
      <div class="footer-mid-item-img">
        <a href="">
          <img src="//cdn.shopify.com/s/files/1/0005/2527/1103/files/1_3b4b495c-4bff-4930-8e76-96bfc0f836f0_large.png?v=1614745216">
        </a>
      </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-bottom-item-list">
      <p>
          <a href="">Copyright © 2021 HasThemes</a>|
          <a href="">Built with Angara by</a>
          <a href=""> HasThemes.</a>
      </p>
    </div>
  </div>
</div>
