<div id="section-footer">
  <div class="shopify-section">
    <div class="brand-area">
      <div class="container">
        <div class="brand-area-row">
          <div class="col-lg-12">
            <owl-carousel-o [options]="customOptions">
              <ng-template carouselSlide>
                <div class="slide">
                  <img src="https://cdn.shopify.com/s/files/1/0005/2527/1103/files/5_07b39926-2c0a-44d0-9302-5549915ef669_compact.png?v=1614746833">
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="slide">
                  <img src="https://cdn.shopify.com/s/files/1/0005/2527/1103/files/6_compact.png?v=1614746833">
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="slide">
                  <img src="https://cdn.shopify.com/s/files/1/0005/2527/1103/files/1_f5f242c4-6ef7-46a1-9152-e975cbd2f60b_compact.png?v=1614746833">
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="slide">
                  <img src="https://cdn.shopify.com/s/files/1/0005/2527/1103/files/2_fdd2fb89-31b8-417f-8641-e1d063716ad7_compact.png?v=1614746833">
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="slide">
                  <img src="https://cdn.shopify.com/s/files/1/0005/2527/1103/files/3_25dd9269-b35e-4772-ae35-81f07f980f7c_compact.png?v=1614746833">
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="slide">
                  <img src="https://cdn.shopify.com/s/files/1/0005/2527/1103/files/6_compact.png?v=1614746833">
                </div>
              </ng-template>
            </owl-carousel-o>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shopify-section">
    <div class="newsletter-area">
      <div class="container">
        <div class="newsletter-area-row">
          <div class="col-lg-6">
            <div class="newsletter-text text-left">
              <h3>Sign Up for Newsletters</h3>
              <p>Be the First to Know. Sign up for newsletter today</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="newsletter-form ">
              <form method="POST" action="" [formGroup]="formSub" (submit)="onSub()" class="contact-form">
                <div id="mc_embed_signup_scroll" class="mc-form subscribe-form validate">
                  <div id="mc-form" class="mc-form subscribe-form">
                    <input class="email" type="email" name="contact[email]" id="Email" placeholder="email@example.com" formControlName="email" required>
                    <button type="submit" class="button" id="Subscribe" [disabled]="f['email'].errors">Subscribe</button>
                    <div *ngIf="f['email'].touched && f['email'].errors">
                      <small class="help-block" *ngIf="f['email'].errors['required']">Email không được để trống</small>
                      <small class="help-block" *ngIf="f['email'].errors['email']">Email không đúng định dạng</small>
                      <small class="help-block" *ngIf="f['email'].errors['minlength']">Email tối thiểu 12 kí tự</small>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shopify-section">
    <div class="banner-area-2">
      <div class="container">
        <div class="banner-area-2-row">
          <div class="border-b">
            <div class="banner-area-2-left">
              <div class="single-banner-2">
                <div class="banner-2-img">
                  <a>
                    <i class="fa-solid fa-phone-volume"></i>
                  </a>
                </div>
                <div class="banner-text-2">
                  <h2>FREE RETURN</h2>
                  <p>30 days money back guarantee!</p>
                </div>
              </div>
            </div>
            <div class="banner-area-2-center">
              <div class="single-banner-2">
                <div class="banner-2-img">
                  <a>
                    <i class="fa-solid fa-envelope"></i>
                  </a>
                </div>
                <div class="banner-text-2">
                  <h2>FREE RETURN</h2>
                  <p>30 days money back guarantee!</p>
                </div>
              </div>
            </div>
            <div class="banner-area-2-right">
              <div class="single-banner-2">
                <div class="banner-2-img">
                  <a>
                    <i class="fa-regular fa-clock"></i>
                  </a>
                </div>
                <div class="banner-text-2">
                  <h2>FREE RETURN</h2>
                  <p>30 days money back guarantee!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shopify-section">
    <div class="footer-top">
      <div class="container">
        <div class="footer-top-row">
          <div class="col-lg-4">
            <div class="single-footer" style="height: 256px;">
              <div class="footer-logo">
                <a href="/">
                  <img src="//cdn.shopify.com/s/files/1/0005/2527/1103/files/1_compact.png?v=1614745158" alt="Angara Multipurpose Mega Shop">
                </a>
              </div>
              <div class="footer-test">
                <p>Angara is an online store that sells kitchenware.</p>
                <h3>Contact info:</h3>
                <h4>No. 8A Ton That Thuyet, My Dinh, Nam Tu Liem, Hanoi, Vietnam</h4>
                <ul>
                  <li><a target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
                  <li><a><i class="fa-brands fa-twitter"></i></a></li>
                  <li><a><i class="fa-brands fa-linkedin-in"></i></a></li>
                  <li><a><i class="fa-brands fa-instagram"></i></a></li>
                  <li><a><i class="fa-brands fa-pinterest-p"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="single-footer" style="height: 256px;">
              <div class="footer-title">
                <h3>INFORMATION</h3>
              </div>
              <div class="footer-menu">
                <ul>
                  <li>
                    <i class="fa-solid fa-angle-right"></i>
                    <a routerLink="/" >Home</a>
                  </li>
                  <li>
                    <i class="fa-solid fa-angle-right"></i>
                    <a routerLink="/aboutus">About Us</a>
                  </li>
                  <li>
                    <i class="fa-solid fa-angle-right"></i>
                    <a routerLink="/shop">Shop</a>
                  </li>
                  <li>
                    <i class="fa-solid fa-angle-right"></i>
                    <a routerLink="/page">Page</a>
                  </li>
                  <li>
                    <i class="fa-solid fa-angle-right"></i>
                    <a routerLink="/contact">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="single-footer" style="height: 256px;">
              <div class="footer-title">
                <h3>CATEROGY</h3>
              </div>
              <div class="footer-menu">
                <ul>
                  <li>
                    <i class="fa-solid fa-angle-right"></i>
                    <a routerLink="/shop">Cookware</a>
                  </li>
                  <li>
                    <i class="fa-solid fa-angle-right"></i>
                    <a routerLink="/shop">Refrigeration</a>
                  </li>
                  <li>
                    <i class="fa-solid fa-angle-right"></i>
                    <a routerLink="/shop">Appliances</a>
                  </li>
                  <li>
                    <i class="fa-solid fa-angle-right"></i>
                    <a routerLink="/shop">Food Storage</a>
                  </li>
                  <li>
                    <i class="fa-solid fa-angle-right"></i>
                    <a routerLink="/shop">Knives And Tools</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="single-footer" style="height: 256px;">
              <div class="footer-title">
                <h3>EXTRAS</h3>
              </div>
              <div class="footer-menu">
                <ul>
                  <li>
                    <i class="fa-solid fa-angle-right"></i>
                    <a routerLink="/delivery">Delivery</a>
                  </li>
                  <li>
                    <i class="fa-solid fa-angle-right"></i>
                    <a routerLink="/termsandcondition">Terms-Conditions</a>
                  </li>
                  <li>
                    <i class="fa-solid fa-angle-right"></i>
                    <a routerLink="/aboutus">About Us</a>
                  </li>
                  <li>
                    <i class="fa-solid fa-angle-right"></i>
                    <a routerLink="/shop">Our Stores</a>
                  </li>
                  <li>
                    <i class="fa-solid fa-angle-right"></i>
                    <a routerLink="/contact">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shopify-section">
    <div class="footer-mid">
      <div class="container">
        <div class="footer-mid-row">
          <div class="col-lg-12">
            <div class="footer-tag text-center">
              <ul>
                <li>
                  <a routerLink="/shop">Online Shopping</a>
                  |
                  <a>Promotions</a>
                  |
                  <a>My Orders</a>
                  |
                  <a routerLink="/contact">Support</a>
                  |
                  <a routerLink="/shop">Most Populars </a>
                  |
                  <a>Shipping</a>
                  |
                  <a>Payments</a>
                  |
                  <a routerLink="/informationshop">Checkout</a>
                  |
                  <a routerLink="/termsandcondition">Terms &amp; Condition</a>
                  |
                  <a>Refunds</a>
                </li>
              </ul>
            </div>
            <div class="payment-area text-center mb-25">
              <a><img src="//cdn.shopify.com/s/files/1/0005/2527/1103/files/1_3b4b495c-4bff-4930-8e76-96bfc0f836f0_large.png?v=1614745216" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shopify-section">
    <div class="footer-bottom">
      <div class="container">
        <div class="footer-bottom-row">
          <div class="col-lg-12">
            <div class="copy-right-area text-center">
              <p>Copyright © 2022 <a>CraryTeam</a> | Built with <a href="/">Angara</a> by <a>CraryTeam</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
