<div class="content-steps">
  <div class="container">
    <div class="row flex-column-reverse flex-lg-row">
      <div class="col-lg-8 col-12">
        <div class="box-group">
          <div class="box-title">
            <h2 class="title-form">
              customer information
            </h2>
          </div>
          <form action="" class="form-contact" [formGroup]="formSub" (submit)="onSub()">
            <div class="form-group">
              <span class="required">First Name</span>
              <input type="text" formControlName="firstName" placeholder="First Name">
              <div *ngIf="f['firstName'].touched && f['firstName'].errors">
                <small class="help-block" *ngIf="f['firstName'].errors['required']">please enter First Name !</small>
              </div>
            </div>

            <div class="form-group">
              <span class="required">Last Name</span>
              <input type="text" formControlName="lastName" placeholder="Last Name">
              <div *ngIf="f['lastName'].touched && f['lastName'].errors">
                <small class="help-block" *ngIf="f['lastName'].errors['required']">please enter Last Name !</small>
              </div>
            </div>

            <div class="form-group">
              <span class="required">Phone</span>
              <input type="tel" formControlName="phone" placeholder="Phone">
              <div *ngIf="f['phone'].touched && f['phone'].errors">
                <small class="help-block" *ngIf="f['phone'].errors['required']">please enter Phone Number !</small>
                <small class="help-block" *ngIf="f['phone'].errors['minlength']">minimum 10 characters for Phone Number !</small>
                <small class="help-block" *ngIf="f['phone'].errors['maxlength']">maximum 10 characters for Phone Number !</small>
              </div>
            </div>

            <div class="form-group">
              <span class="required">Email</span>
              <input type="email" formControlName="email" placeholder="Email">
              <div *ngIf="f['email'].touched && f['email'].errors">
                <small class="help-block" *ngIf="f['email'].errors['required']">please enter your email !</small>
                <small class="help-block" *ngIf="f['email'].errors['email']">please enter a valid email address !</small>
                <small class="help-block" *ngIf="f['email'].errors['minlength']">minimum 12 characters for emails !</small>
              </div>
            </div>

            <div class="form-group form-w-full">
              <span class="required">Address</span>
              <input type="text" formControlName="address" placeholder="Specific Address">
              <div *ngIf="f['address'].touched && f['address'].errors">
                <small class="help-block" *ngIf="f['address'].errors['required']">please enter your Address !</small>
              </div>
            </div>
            <div class="form-group form-w-full">
              <span>Note</span>
              <textarea placeholder="Content notes"></textarea>
            </div>
            <div class="payment">
              <p>Payment methods: </p>
              <input type="checkbox">
              <label>Payment in cash</label>
            </div>
            <div class="submitorcart">
              <a routerLink="/cart">
                <i class="fa-solid fa-angle-left"></i>
                return to cart
              </a>
              <div></div>
              <button  (click)="thank(); emptycart()" routerLink="/" type="submit"  class="btn btn-primary" [disabled]="f['email'].errors || f['phone'].errors || f['lastName'].errors || f['firstName'].errors || f['address'].errors" >Delivery right away</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-4 col-12 mb-4 mb-lg-0">
        <div class="box-group">
          <div class="d-flex flex-wrap box-title">
            <h2 class="title-form">
              Order ({{products.length}})
            </h2>
          </div>
          <div class="product-quantity-list">
            <div class="product-quantity-item" *ngFor="let item of products, let i = index">
              <div class="name">
                {{item.title}}
              </div>
              <div class="count">
                <img [src]="item.thumbnail">
              </div>
            </div>
          </div>
          <div class="box-total">
            <div class="total-item">
              <span>Subtotal: </span>
              <span>{{grandTotal}}.000Đ</span>
            </div>
            <div class="total-item">
              <span>Shipping: </span>
              <span>30.000Đ</span>
            </div>
          </div>
        </div>
        <div class="box-total-last">
          <span>TOTAL:</span>
          <span>{{totalBig}}.000Đ</span>
        </div>
      </div>
    </div>
  </div>
</div>
