<div class="content-steps">
  <div class="row flex-column-reverse flex-lg-row">
    <div class="col-lg-8 col-12">

      <div class="box-group">

        <div class="box-title">
          <h2 class="title-form">
            thông tin khách hàng
          </h2>
        </div>

        <form action="" class="form-contact">
          <div class="form-group">
            <span class="required">Họ và tên</span>
            <input type="text" name="" required id="" placeholder="Nhập họ tên của bạn">
          </div>
          <div class="form-group">
            <span class="required">Số điện thoại</span>
            <input type="tel" name="" required placeholder="Nhập  số điện thoại của bạn">
          </div>
          <div class="form-group">
            <span class="required">Email</span>
            <input type="email" required name="" placeholder="Email của bạn">
          </div>
          <div class="form-group form-w-full">
            <span class="required">Địa chỉ cụ thể</span>
            <input type="text" required name="" placeholder="VD: Số nhà, ngõ, hẻm, đường,...">
          </div>
          <div class="form-group form-w-full">
            <span>Ghi chú</span>
            <textarea name="" placeholder="Nhập nội dung ghi chú"></textarea>
          </div>
          <div style="float: right;margin-right: 20px">
            <button type="submit" class="btn btn-primary"><a class="btn btn-primary" (click)="thank()"  routerLink="/">Giao hàng ngay</a></button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-lg-4 col-12 mb-4 mb-lg-0">
      <div class="box-group">
        <div class="d-flex flex-wrap box-title">
          <h2 class="title-form">
            Đơn hàng (1)
          </h2>
        </div>

        <div class="product-quantity-list">
          <div class="product-quantity-item">
            <div class="name">
              donec non est ullamcorper - xl / red / partex
            </div>

            <div class="count">
              <img src="http://cdn.shopify.com/s/files/1/0005/2527/1103/products/1_small.jpg?v=1521019595">
            </div>
          </div>
        </div>

        <div class="box-total">
          <div class="total-item">
                      <span>
                        Tạm tính:
                      </span>
            <span>
                        130.000đ
                      </span>
          </div>

          <div class="total-item">
                      <span>
                        Phí giao hàng:
                      </span>
            <span>
                        30.000đ
                      </span>
          </div>

        </div>

      </div>

      <div class="box-total-last">
        <span>TỔNG THANH TOÁN:</span>
        <span>160.000đ</span>
      </div>

    </div>
  </div>
</div>
