.login{
  background: #e23e57 none repeat scroll 0 0;
  border: 1px solid #e23e57;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  margin-left: 7px;
  padding: 6px 25px;
  text-transform: capitalize;
  transition: .3s;
  border-radius: 5px;
}
a{
  text-decoration: none;
  color: black;
}
#login1{
  color: white;
}
.help-block {
  color: red;
  position: relative;
  left: 15px;
}
