<div class="breadcrumbs-section">
  <div class="breadcrumbs">
    <div class="container">
      <div class="breadcrumbs-row">
        <div class="col-lg-12">
          <div class="breadcrumbs-inner">
            <ul class="breadcrumb-list">
              <li>
                <a href="#">Home</a>
              </li>
              <li>
                <span>Page</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-page">
  <div class="container">
    <div class="main-section">
      <div class="row">
        <div class="col-md-3">
          <h3 class="abc">our offers</h3>
          <ul class="links">
            <li><a href="#">New products</a></li>
            <li>
              <a href="#">Brands</a>
              <ul class="list-links">
                <li><a href="#">Brand 01</a></li>
                <li><a href="#">Brand 02</a></li>
                <li><a href="#">Brand 03</a></li>
                <li><a href="#">Brand 04</a></li>
                <li><a href="#">Brand 05</a></li>
                <li><a href="#">Brand 06</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="abc">categories</h3>
          <ul class="links">
            <li>
              <a href="#">Cookware</a>
              <ul class="list-links">
                <li><a href="#">Cooking Pots</a></li>
                <li><a href="#">Cooking Pans</a></li>
                <li><a href="#">Frying Pans</a></li>
                <li><a href="#">Cookware Sets</a></li>
                <li><a href="#">Handis</a></li>
                <li><a href="#">Kadais [Karahi]</a></li>
                <li><a href="#">Grill Pans</a></li>
                <li><a href="#">Tawas</a></li>
                <li><a href="#">Egg Poachers</a></li>
                <li><a href="#">Steamers</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Refrigeration</a>
              <ul class="list-links">
                <li><a href="#">Freezers</a></li>
                <li><a href="#">Refrigerators</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Appliances</a>
              <ul class="list-links">
                <li><a href="#">Blenders</a></li>
                <li><a href="#">Bread Makers</a></li>
                <li><a href="#">Coffee Makers</a></li>
                <li><a href="#">Ice-Cream And Sorbet Makers</a></li>
                <li><a href="#">Electric Kettles</a></li>
                <li><a href="#">Food Choppers</a></li>
                <li><a href="#">Toasters</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Food Storage</a>
              <ul class="list-links">
                <li><a href="#">Flask</a></li>
                <li><a href="#">Spice Jars</a></li>
                <li><a href="#">Storage Bags</a></li>
                <li><a href="#">Lunch Boxes</a></li>
                <li><a href="#">Vacuum Bottles</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Knives And Tools</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="abc">your account</h3>
          <ul class="links">
            <li><a href="#">Log in</a></li>
            <li><a href="#">Register</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="abc">pages</h3>
          <ul class="links">
            <li><a href="#">Delivery</a></li>
            <li><a href="#">Terms and conditions of use</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Our stores</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
