<div class="breadcrumbs">
  <div class="container-title">
    <div class="row-cols-2" style="padding-top: 15px">
      <a href="" class="link-title">Home<i class="fa-solid fa-angle-right"></i></a><span style="color: #9d9b9b">Page</span>
    </div>
  </div>
</div>
<div class="section-page">
  <div class="container">
    <div class="main-section">
      <div class="row">
        <div class="col-md-3">
          <h3 class="abc">our offers</h3>
          <ul class="links">
            <li><a href="#">New products</a></li>
            <li>
              <a href="#">Brands</a>
              <ul class="list-links" *ngFor="let m of product; let i = index;">
                <li><a href="#">{{product[i].brandname}}</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="abc">categories</h3>
          <ul class="links">
            <li>
              <a href="#">Cookware</a>
              <ul class="list-links" *ngFor="let m of cookware; let i = index;">
                <li><a href="#">{{cookware[i].name}}</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Refrigeration</a>
              <ul class="list-links" *ngFor="let m of refrigeration; let i = index;">
                <li><a href="#">{{refrigeration[i].name}}</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Appliances</a>
              <ul class="list-links" *ngFor="let m of appliances; let i = index;">
                <li><a href="#">{{appliances[i].name}}</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Food Storage</a>
              <ul class="list-links" *ngFor="let m of foodstorage; let i = index;" >
                <li><a href="#">{{foodstorage[i].name}}</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Knives And Tools</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="abc">your account</h3>
          <ul class="links">
            <li><a href="#">Log in</a></li>
            <li><a href="#">Register</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="abc">pages</h3>
          <ul class="links">
            <li><a href="#">Delivery</a></li>
            <li><a href="#">Terms and conditions of use</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Our stores</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
