<div id="section-delivery">
  <div class="breadcrumbs-section">
    <div class="breadcrumbs">
      <div class="container">
        <div class="breadcrumbs-row">
          <div class="col-lg-12">
            <div class="breadcrumbs-inner">
              <ul class="breadcrumb-list">
                <li>
                  <a href="/">Home</a>
                </li>
                <li>
                  <span>Delivery</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shopify-section">
    <div class="page">
      <div class="container">
        <div class="page-row">
          <div class="col-lg-12">
            <div class="page-title category-title">
              <h2 class="title-head">
                <a>Shipping policy for our store</a>
              </h2>
            </div>
            <div class="content-page rte">
              <div>
                <p><strong>1.&nbsp;&nbsp; &nbsp;Objects and shipping range:</strong></p>
                <ul>
                  <li>
                    All clients who place orders are subject to the delivery policy.
                  </li>
                  <li>
                    <strong>Angana </strong> will deal with any shipping requests from clients around the country.
                  </li>
                </ul>
                <p>
                  <strong>2.&nbsp;&nbsp; &nbsp;transportation mode:</strong>
                </p>
                <p>
                  <strong>A.&nbsp;&nbsp; &nbsp;Receive goods directly at the store</strong>
                </p>
                <ul>
                  <li>For customers who come to buy goods at the store or through the website</li>
                  <li>Before receiving the goods, kindly inspect them thoroughly and compare them to the voucher and warranty card.&nbsp;</li>
                  <li>The sales staff will get in touch with you to re-arrange the delivery time if the items need to be moved from the warehouse of another store in the same system.</li>
                </ul>
                <p>
                <p>
                  <strong>B.&nbsp;&nbsp; &nbsp;delivery between provinces:</strong>
                </p>
                <ul>
                  <li>Please provide all required information accurately and completely when placing an order in order for us to deliver the goods and quickly receive payment. As a result of incorrect information you provided, we are also not liable for deliveries that are late or lost.</li>
                  <li>Arrival time two to four days Cost: 50,000 VND per item; this time is merely indicative.</li>
                  <li>Orders placed on Sundays, holidays, and Tet: delivery time is estimated starting at 16:00 on the Monday after the holiday or the first business day after it.</li>
                  <li>As soon as you receive the goods from the freight forwarder, please inspect them carefully. If there is a problem with the type, quality, or quantity of the goods or if they differ from the order, please notify us right away so we can work with the delivery unit to handle the situation.</li>
                </ul>
                <p>
                  <strong>C.&nbsp;&nbsp; &nbsp;Modify or cancel the transaction</strong>
                </p>
                <p>- You can alter or cancel the transaction in the following situations.</p>
                <ol>
                  <li>when the retailer has acknowledged that the item has not been sent.&nbsp;</li>
                  <li>The customer is responsible for paying the shipping cost if the product has already been shipped.</li>
                </ol>
                <p>Normally, we process orders within 24 hours of receiving them and get back to customers with questions concerning payment and delivery. Delivery is typically made within 2-4 days after the order is closed, or as otherwise agreed upon with the customer. There are, however, some instances where the delivery takes longer but only occurs in peculiar circumstances. Resistance looks like this:</p>
              </div>
              <ul>
                <li>Customers cannot be reached by phone, so we are unable to deliver.</li>
                <li>Your shipping address is either incomplete or difficult to locate.</li>
                <li>Order processing was sluggish as a result of the sudden increase in orders.</li>
                <li>The shipping partner may have to deliver the goods because the delivery partner delivered the goods later than anticipated.</li>
                <li>Given that we use an outside shipping service, the shipping fee will be determined by the costs of the shipping units based on the location and volume of the order when we get in touch with you to confirm the order. The customer will be informed of the specific fee.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
