<div id="section-terms_and_conditions">
  <div class="breadcrumbs-section">
    <div class="breadcrumbs">
      <div class="container">
        <div class="breadcrumbs-row">
          <div class="col-lg-12">
            <div class="breadcrumbs-inner">
              <ul class="breadcrumb-list">
                <li>
                  <a routerLink="/">Home</a>
                </li>
                <li>
                  <span>Terms and conditions of use</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shopify-section">
    <div class="terms_and_conditions">
      <div class="container">
        <div class="page-title category-title">
          <h2 class="title-head">
            <a>Shipping policy for our store</a>
          </h2>
        </div>
        <div class="content-page">
          <p>These Terms and Conditions of Use (the “Terms of Use”) apply to our web site. By using the Site, you agree to these terms of use; if you do not agree, do not use the Site. </p>
          <p>We reserve the right, at our sole discretion, to change, modify, add, and/or remove portions of this Terms of Use, at any time. It is your responsibility to check these Terms of Use periodically for changes. Your continued use of the Site following the posting of changes will mean that you accept and agree to the changes. As long as you comply with these Terms of Use, we grant you a personal, non-exclusive, non-transferable, limited privilege to enter and use the Site.</p>
        </div>
        <div class="content-page">
          <h5>Content</h5>
          <p>All text, graphic, user interfaces, visual interfaces, photographs, trademarks, logos, sounds, music, artwork and computer code (collectively “Content”), including but not limited to the design, structure, selection, coordination, expression, “look and feel” and arrangement of such Content, contained on the Site is owned, and is protected by trade dress, copy right, patent and trademark laws, and various other intellectual property rights and unfair competition laws. </p>
          <p>Except as expressly provided in these Terms of Use, no part of the Site and no Content can be copied, reproduced, republished, uploaded or distributed in any way (including “mirroring”) to any other computer, server, web site or other medium for publication or distribution or for any commercial enterprise, without our express prior written consent.</p>
          <p>You may use information on our products and services (such as knowledge base articles, and similar materials) purposely made available by M Concept JSC for downloading from the Site, provided that you (1) not remove any proprietary notice language in all copies of such documents, (2) use such information only for your personal, non-commercial information purpose and do not copy or post such information on any networked computer or broadcast it in any media, (3) make no modifications to any such information, and (4) not make any representations or warranties relating to such documents.</p>
        </div>
        <div class="content-page">
          <h5>Eligibility</h5>
          <p>You represent and warrant that you are at least 15 years of age. If you are under age 15, you may not, under any circumstances or for any reason, use the Site. We may, in our sole discretion, refuse to offer the Services to any person or entity and change our eligibility criteria at any time.</p>
          <p>You are solely responsible for ensuring that your use of the Services complies with all laws, rules and regulations applicable to you. If you are a minor, you must consult your parents or guardian about what portions of the Services are appropriate for you.</p>
          <p>We continually test new features, functionalities, services, user interfaces and Products that we are considering incorporating into or providing through our Site. We reserve the right to include or exclude you from these tests without notice.</p>
        </div>
      </div>
    </div>
  </div>
</div>
