<div class="breadcrumbs">
  <div class="container">
    <div class="row-cols-2" style="padding-top: 15px">
      <a href="" class="link-title">Home<i class="fa-solid fa-angle-right"></i></a><span style="color: #9d9b9b">about us</span>
    </div>
  </div>
</div>
<div class="container">
  <div class="about-img">
  <a href="#">
    <img src="https://cdn.shopify.com/s/files/1/0005/2527/1103/files/66_large.jpg?v=1614746666" alt="man">
  </a>
  </div>
</div>
<div class="col-lg-5 col-md-5 col-sm-6 col-sm-6 col-xs-12">
  <div class="about-content">

  </div>
</div>
<div class="container">
<div class="row">
  <div class="animated-count" style="padding-left: 25px"></div>
  <p>Loại Sản Phẩm</p>
</div>
</div>
