<div class="breadcrumbs">
  <div class="container">
    <div class="row-cols-2" style="padding-top: 15px">
      <a href="" class="link-title">Home<i class="fa-solid fa-angle-right"></i></a><span style="color: #9d9b9b">about us</span>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
  <div class="about-img col">
  <a href="#">
    <img src="https://cdn.shopify.com/s/files/1/0005/2527/1103/files/66_large.jpg?v=1614746666" alt="man">
  </a>
  </div>
  <div class="aboutus-text col">
    <h3>Categories</h3>
    <p>We supply a comprehensive range of home appliances to enhance any kitchen. We specialize in kitchen hoods, hobs, ovens, microwaves, slow cookers, dishwashers, and food waste disposers. We are dedicated to providing better kitchen appliances for consumers in a wide range of product categories. Through continuous innovation, our kitchen appliance division always offers optimal cooking solutions.</p>
  </div>
  </div>
</div>
<div class="counter-area" id="section-template--14197197996095__counter-area">
  <div class="container">
    <div class="row">

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" id="block-4c6da699-f0cc-43e8-a801-eeb505c48102">

        <div class="single-counter text-center">
          <h2 class="counter">320</h2>
          <span>projects completed</span>
        </div>

      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" id="block-1ea92574-f389-4159-b77f-b66b2c56f1c0">

        <div class="single-counter text-center">
          <h2 class="counter">110</h2>
          <span>Happy Clients</span>
        </div>

      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" id="block-18a16b8d-caff-4697-bdb7-a7f320d5ac3a">

        <div class="single-counter text-center">
          <h2 class="counter">500</h2>
          <span>Cups of Coffe</span>
        </div>

      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" id="block-25c29723-861c-434b-98e7-df7b05fa6fed">

        <div class="single-counter text-center">
          <h2 class="counter">99</h2>
          <span>Awards Winner</span>
        </div>

      </div>


    </div>
  </div>
</div>
