<div id="section-aboutus">
  <div class="breadcrumbs-section">
    <div class="breadcrumbs">
      <div class="container">
        <div class="breadcrumbs-row">
          <div class="col-lg-12">
            <div class="breadcrumbs-inner">
              <ul class="breadcrumb-list">
                <li>
                  <a href="/">Home</a>
                </li>
                <li>
                  <span>About us</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shopify-section">
    <div class="about-main-area">
      <div class="container">
        <div class="about-main-area-row">
          <div class="about-main-area-left">
            <div class="about-img">
              <a href="/shop">
                <img src="https://cdn.shopify.com/s/files/1/0005/2527/1103/files/66_large.jpg?v=1614746666">
              </a>
            </div>
          </div>
          <div class="about-main-area-right">
            <div class="about-content">
              <h3>Angara is an online store that sells kitchenware.</h3>
              <p>We supply a comprehensive range of home appliances to enhance any kitchen. We specialize in kitchen hoods, hobs, ovens, microwaves, slow cookers, dishwashers, and food waste disposers. We are dedicated to providing better kitchen appliances for consumers in a wide range of product categories. Through continuous innovation, our kitchen appliance division always offers optimal cooking solutions.</p>
              <p>Through a robust operational and payment support system, the Angana commerce platform is designed to give users a smooth, safe, and quick experience while purchasing online.</p>
              <button class="addtocart" type="submit" routerLink="/shop">
                <span class="addto">discover Angana</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shopify-section">
    <div class="our-mission-area">
      <div class="container">
        <div class="our-mission-area-row text-center">
          <div class="our-mission-area-item">
            <div class="text-item">
              <h5 class="item-title">Our objective</h5>
              <p class="item-desc">We are motivated to connect the community of buyers and sellers by offering an e-commerce platform because we believe in the transformative power of technology and want to help make the world a better place.</p>
            </div>
          </div>
          <div class="our-mission-area-item text-center">
            <div class="text-item">
              <h5 class="item-title">Our Direction</h5>
              <p class="item-desc">Angana provides customers in the area with an integrated online shopping experience that includes a large selection of items, a vibrant user community, and a smooth service chain.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shopify-section">
    <div class="counter-area">
      <div class="container">
        <div class="counter-area-row">
          <div class="counter-area-25percent">
            <div class="single-counter text-center">
              <h2 class="counter">{{category[0].id}}</h2>
              <span>Product Type</span>
            </div>
          </div>
          <div class="counter-area-25percent">
            <div class="single-counter text-center">
              <h2 class="counter">{{product[0].id}}</h2>
              <span>Product</span>
            </div>
          </div>
          <div class="counter-area-25percent">
            <div class="single-counter text-center">
              <h2 class="counter">{{brand[0].id}}</h2>
              <span>Brand</span>
            </div>
          </div>
          <div class="counter-area-25percent">
            <div class="single-counter text-center">
              <h2 class="counter">05</h2>
              <span>Member</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shopify-section">
    <div class="team-area">
      <div class="container">
        <div class="team-area-row">
          <div class="col-lg-12">
            <div class="team-title text-center mb-50">
              <h2>Our Crazy<span>Team</span></h2>
            </div>
          </div>
          <div class="team-area-row-below">
            <div class="team-area-20percent">
              <div class="single-team">
                <div class="team-img-area">
                  <div class="team-img">
                    <img src="assets/img/duc.jpg" alt="man">
                  </div>
                  <div class="team-link">
                    <ul>
                      <li><a><i class="fa-brands fa-facebook-f"></i></a></li>
                      <li><a><i class="fa-brands fa-twitter"></i></a></li>
                      <li><a><i class="fa-brands fa-linkedin-in"></i></a></li>
                      <li><a><i class="fa-brands fa-instagram"></i></a></li>
                      <li><a><i class="fa-brands fa-pinterest-p"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="team-content text-center">
                  <h3>Tiến Đức</h3>
                  <span>Team Member</span>
                </div>
              </div>
            </div>
            <div class="team-area-20percent">
              <div class="single-team">
                <div class="team-img-area">
                  <div class="team-img">
                    <img src="assets/img/hiep.jpg">
                  </div>
                  <div class="team-link">
                    <ul>
                      <li><a><i class="fa-brands fa-facebook-f"></i></a></li>
                      <li><a><i class="fa-brands fa-twitter"></i></a></li>
                      <li><a><i class="fa-brands fa-linkedin-in"></i></a></li>
                      <li><a><i class="fa-brands fa-instagram"></i></a></li>
                      <li><a><i class="fa-brands fa-pinterest-p"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="team-content text-center">
                  <h3>Hoàng Hiệp</h3>
                  <span>Team Member</span>
                </div>
              </div>
            </div>
            <div class="team-area-20percent">
              <div class="single-team">
                <div class="team-img-area">
                  <div class="team-img">
                    <img src="assets/img/phong.jpg">
                  </div>
                  <div class="team-link">
                    <ul>
                      <li><a><i class="fa-brands fa-facebook-f"></i></a></li>
                      <li><a><i class="fa-brands fa-twitter"></i></a></li>
                      <li><a><i class="fa-brands fa-linkedin-in"></i></a></li>
                      <li><a><i class="fa-brands fa-instagram"></i></a></li>
                      <li><a><i class="fa-brands fa-pinterest-p"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="team-content text-center">
                  <h3>Văn Phong</h3>
                  <span>Team Member</span>
                </div>
              </div>
            </div>
            <div class="team-area-20percent">
              <div class="single-team">
                <div class="team-img-area">
                  <div class="team-img">
                    <img src="assets/img/trung.jpg">
                  </div>
                  <div class="team-link">
                    <ul>
                      <li><a><i class="fa-brands fa-facebook-f"></i></a></li>
                      <li><a><i class="fa-brands fa-twitter"></i></a></li>
                      <li><a><i class="fa-brands fa-linkedin-in"></i></a></li>
                      <li><a><i class="fa-brands fa-instagram"></i></a></li>
                      <li><a><i class="fa-brands fa-pinterest-p"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="team-content text-center">
                  <h3>Trịnh Trung</h3>
                  <span>Team Member</span>
                </div>
              </div>
            </div>
            <div class="team-area-20percent">
              <div class="single-team">
                <div class="team-img-area">
                  <div class="team-img">
                    <img src="assets/img/hieu.jpg">
                  </div>
                  <div class="team-link">
                    <ul>
                      <li><a><i class="fa-brands fa-facebook-f"></i></a></li>
                      <li><a><i class="fa-brands fa-twitter"></i></a></li>
                      <li><a><i class="fa-brands fa-linkedin-in"></i></a></li>
                      <li><a><i class="fa-brands fa-instagram"></i></a></li>
                      <li><a><i class="fa-brands fa-pinterest-p"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="team-content text-center">
                  <h3>Nguyễn Hiếu</h3>
                  <span>Team Member</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shopify-section">
    <div class="container">
      <div class="CEO-title text-center">
        <h3>Core values</h3>
      </div>
    </div>
    <div class="CEO-wrapper">
      <div class="CEO-word">
        <div class="svg-icon"><i class="fa-solid fa-quote-left"></i></div>
        <p>Successful leadership depends on having a good understanding of others. It is important to us at Angana to provide the best experience for our partners, employees, and users.</p>
        <p class="name">Chris Feng - Group President, Sea</p>
      </div>
      <div class="our-pic"></div>
      <div class="our-pic-mask"></div>
    </div>
  </div>
</div>
