@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #fafafa;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-weight: 400;
  line-height: 1.35;
}
a{
  text-decoration: none;
  color: black;
}
li{
  list-style: none;
}
img{
  max-width: 100%;
}
.section{
  float: left;
  width: 100%;
}
.container{
  width: 1200px;
  float: none;
  margin: 0 auto;
}
.breadcrumbs {
  background-color: #f1f1f1;
  height: 55px;
}
.link-title{
  padding-left:15px;
  padding-right: 5px;
  color: #e23e57;
  text-decoration: none;
}
.fa-solid fa-angle-right{
  font-size: 15px;
}
a {
  transition: all .3s ease 0s;
  text-decoration: none;
}
.about-img a img:hover{
  transform:scale(1.1);
}
.about-img{
  overflow: hidden;
}
.about-img a img{
  transform:scale(1);
  transition:.4s;
}
img {
  max-width: 100%;
  border: 0;
}
#section-template--14197197996095__counter-area {
  padding-top: 80px;
  padding-bottom: 50px;
  background: #ffffff url(//cdn.shopify.com/s/files/1/0005/2527/1103/files/38.jpg?v=1614748039)no-repeat scroll center center / cover;
}


