<div class="breadcrumbs">
  <div class="container-title">
    <div class="row-cols-2" style="padding-top: 15px">
      <a href="/" class="link-title">Home<i class="fa-solid fa-angle-right"></i></a><span style="color: #9d9b9b">Contact</span>
    </div>
  </div>
</div>
<div class="section-contact">
  <div class="container">
    <div class="main-section">
      <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.1074764044065!2d105.7817745463745!3d21.02838518492888!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab4cd0c66f05%3A0xea31563511af2e54!2zOCBUw7RuIFRo4bqldCBUaHV54bq_dCwgTeG7uSDEkMOsbmgsIEPhuqd1IEdp4bqleSwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1670575049892!5m2!1svi!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="contact-info">
            <h3 class="abc-1">contact info</h3>
            <ul>
              <li>
                <i class="icon fa-solid fa-location-dot"></i>
                <span class="span-contact-info">Address</span>
                No. 8A Ton That Thuyet, My Dinh, Nam Tu Liem, Hanoi, Vietnam
              </li>
              <li>
                <i class="icon fa-solid fa-mobile"></i>
                <span class="span-contact-info">Phone</span>
                0238764849
              </li>
              <li>
                <i class="icon fa-solid fa-envelope"></i>
                <span class="span-contact-info">Email</span>
                hiepntht2204022@fpt.edu.vn
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="leave-a-message">
            <h3 class="abc-2">leave a message</h3>
            <form method="get" action="#" [formGroup]="formSub" (submit)="onSub()" class="contact-form">
              <div class="row">
                <div class="col-lg-6">
                  <input type="text" required name="fullname" id="style-form-single-1" formControlName="name" placeholder="Your Name">
                  <div *ngIf="f['name'].touched && f['name'].errors">
                    <small class="help-block" *ngIf="f['name'].errors['required']">please enter your name !</small>
                  </div>
                </div>
                <div class="col-lg-6">
                  <input type="email" required name="youremail" id="style-form-single-2" formControlName="email" placeholder="Your Email">
                  <div *ngIf="f['email'].touched && f['email'].errors">
                    <small class="help-block" *ngIf="f['email'].errors['required']">please enter your email !</small>
                    <small class="help-block" *ngIf="f['email'].errors['email']">please enter a valid email address !</small>
                    <small class="help-block" *ngIf="f['email'].errors['minlength']">minimum 12 characters for emails !</small>
                  </div>
                </div>
              </div>
              <div class="subject">
                <input type="subject" required name="yoursubject" formControlName="subject" id="style-form-single-3" placeholder="Subject">
                <div *ngIf="f['subject'].touched && f['subject'].errors">
                  <small class="help-block" *ngIf="f['subject'].errors['required']">please enter subject !</small>
                </div>
              </div>
              <div class="your-massage">
                <textarea required name="yourmassage" id="style-form-single-4" formControlName="message" placeholder="Your Massage"></textarea>
                <div *ngIf="f['message'].touched && f['message'].errors">
                  <small class="help-block" *ngIf="f['message'].errors['required']">please enter message !</small>
                </div>
                <input type="submit" id="style-form-single-5" [disabled]="f['email'].errors || f['name'].errors || f['subject'].errors || f['message'].errors" class="style-form-single-5" value="Submit">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
