<div class="breadcrumbs">
  <div class="container-title">
    <div class="row-cols-2" style="padding-top: 15px">
      <a href="" class="link-title">Home<i class="fa-solid fa-angle-right"></i></a><span style="color: #9d9b9b">Contact</span>
    </div>
  </div>
</div>
<div class="section-contact">
  <div class="container">
    <div class="main-section">
      <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13786.21552333932!2d-97.754667!3d30.249796000000003!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc78ecc2590f59eb4!2sSouth%20Congress%20Hotel!5e0!3m2!1svi!2sus!4v1669534679900!5m2!1svi!2sus" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="contact-info">
            <h3 class="abc-1">contact info</h3>
            <ul>
              <li>
                <i class="icon fa-solid fa-location-dot"></i>
                <span class="span-contact-info">Address</span>
                1234 Pall Mall Street, London England
              </li>
              <li>
                <i class="icon fa-solid fa-mobile"></i>
                <span class="span-contact-info">Phone</span>
                (800) 0123 4567 890
              </li>
              <li>
                <i class="icon fa-solid fa-envelope"></i>
                <span class="span-contact-info">Email</span>
                info@bootexperts.com
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="leave-a-message">
            <h3 class="abc-2">leave a message</h3>
            <form method="get" action="#" class="contact-form">
              <div class="row">
                <div class="col-lg-6">
                  <input type="text" required name="fullname" id="style-form-single-1" value placeholder="Your Name">
                </div>
                <div class="col-lg-6">
                  <input type="email" required name="youremail" id="style-form-single-2" value placeholder="Your Email">
                </div>
              </div>
              <div class="subject">
                <input type="subject" required name="yoursubject" id="style-form-single-3" value placeholder="Subject">
              </div>
              <div class="your-massage">
                <textarea required name="yourmassage" id="style-form-single-4" value placeholder="Your Massage"></textarea>
                <input type="submit" id="style-form-single-5" class="style-form-single-5" value="Submit">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
