<div id="section-nav">
  <div class="container">
      <div class="nav-row">
        <div class="nav-row-left">
          <div class="category-area">
            <h3>
              <i class="fa-solid fa-bars"></i>
              Category
            </h3>
            <div class="category-menu">
              <ul>
                <li class="angle">
                  <a routerLink="/shop">Cookware</a>
                  <ul class="category-submenu">
                    <li>
                      <a routerLink="/shop" class="category-submenu-title">Cookware</a>
                      <ul class="category-submenu-left">
                        <li>
                          <a routerLink="/shop">Cooking pots</a>
                        </li>
                        <li>
                          <a routerLink="/shop">Cooking Pans</a>
                        </li>
                        <li>
                          <a routerLink="/shop">Frying Pans</a>
                        </li>
                        <li>
                          <a routerLink="/shop">Cookware Sets</a>
                        </li>
                        <li>
                          <a routerLink="/shop">Handis</a>
                        </li>
                      </ul>
                      <ul class="category-submenu-right">
                        <li>
                          <a routerLink="/shop">Kadais [Karahi]</a>
                        </li>
                        <li>
                          <a routerLink="/shop">Grill pans</a>
                        </li>
                        <li>
                          <a routerLink="/shop">Tawas</a>
                        </li>
                        <li>
                          <a routerLink="/shop">Egg Poachers</a>
                        </li>
                        <li>
                          <a routerLink="/shop">Steamers</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="angle">
                  <a routerLink="/shop">Refrigeration</a>
                  <ul class="category-submenu">
                    <li>
                      <a routerLink="/shop" class="category-submenu-title">Refrigeration</a>
                      <ul>
                        <li>
                          <a routerLink="/shop">Freezers</a>
                        </li>
                        <li>
                          <a routerLink="/shop">Refrigerators</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="angle">
                  <a routerLink="/shop">Appliances</a>
                  <ul class="category-submenu">
                    <li>
                      <a routerLink="/shop" class="category-submenu-title">Appliances</a>
                      <ul class="category-submenu-left">
                        <li>
                          <a routerLink="/shop">Blenders</a>
                        </li>
                        <li>
                          <a routerLink="/shop">Bread Makers</a>
                        </li>
                        <li>
                          <a routerLink="/shop">Coffee Makers</a>
                        </li>
                        <li>
                          <a routerLink="/shop">Ice-Cream and sorbet makers</a>
                        </li>
                      </ul>
                      <ul class="category-submenu-right">
                        <li>
                          <a routerLink="/shop">Electric Kettles</a>
                        </li>
                        <li>
                          <a routerLink="/shop">Food Choppers</a>
                        </li>
                        <li>
                          <a routerLink="/shop">Toasters</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="angle">
                  <a routerLink="/shop">Food Storage</a>
                  <ul class="category-submenu">
                    <li>
                      <a routerLink="/shop" class="category-submenu-title">Food Storage</a>
                      <ul class="category-submenu-left">
                        <li>
                          <a routerLink="/shop">Flask</a>
                        </li>
                        <li>
                          <a routerLink="/shop">Spice Jars</a>
                        </li>
                        <li>
                          <a routerLink="/shop">Storage Bags</a>
                        </li>
                      </ul>
                      <ul class="category-submenu-right">
                        <li>
                          <a routerLink="/shop">Lunch Boxes</a>
                        </li>
                        <li>
                          <a routerLink="/shop">Vacuum bottles</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="angle">
                  <a routerLink="/shop">Knives and tools</a>
                  <ul class="category-submenu">
                    <li>
                      <a routerLink="/shop" class="category-submenu-title">Knives and tools</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="nav-row-right">
          <div class="main-menu">
            <ul>
              <li>
                <a routerLink="/">
                  <i class="fa-solid fa-house-chimney"></i>
                  Home
                </a>
              </li>
              <li>
                <a routerLink="/aboutus">About Us</a>
              </li>
              <li>
                <a routerLink="/shop">Shop</a>
              </li>
              <li>
                <a routerLink="/page">Page</a>
              </li>
              <li>
                <a routerLink="/contact">
                  <i class="fa-regular fa-address-book"></i>
                  Contact
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>
