<div id="section-nav">
  <div class="container">
      <div class="nav-row">
        <div class="nav-row-left">
          <div class="category-area">
            <h3>
              <i class="fa-solid fa-bars"></i>
              Category
            </h3>
            <div class="category-menu">
              <ul>
                <li class="angle">
                  <a href="#">Cookware</a>
                  <ul class="category-submenu">
                    <li>
                      <a href="#" class="category-submenu-title">Cookware</a>
                      <ul class="category-submenu-left">
                        <li>
                          <a href="#">Cooking pots</a>
                        </li>
                        <li>
                          <a href="#">Cooking Pans</a>
                        </li>
                        <li>
                          <a href="#">Frying Pans</a>
                        </li>
                        <li>
                          <a href="#">Cookware Sets</a>
                        </li>
                        <li>
                          <a href="#">Handis</a>
                        </li>
                      </ul>
                      <ul class="category-submenu-right">
                        <li>
                          <a href="#">Kadais [Karahi]</a>
                        </li>
                        <li>
                          <a href="#">Grill pans</a>
                        </li>
                        <li>
                          <a href="#">Tawas</a>
                        </li>
                        <li>
                          <a href="#">Egg Poachers</a>
                        </li>
                        <li>
                          <a href="#">Steamers</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="angle">
                  <a href="#">Refrigeration</a>
                  <ul class="category-submenu">
                    <li>
                      <a href="#" class="category-submenu-title">Refrigeration</a>
                      <ul>
                        <li>
                          <a href="#">Freezers</a>
                        </li>
                        <li>
                          <a href="#">Refrigerators</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="angle">
                  <a href="#">Appliances</a>
                  <ul class="category-submenu">
                    <li>
                      <a href="#" class="category-submenu-title">Appliances</a>
                      <ul class="category-submenu-left">
                        <li>
                          <a href="#">Blenders</a>
                        </li>
                        <li>
                          <a href="#">Bread Makers</a>
                        </li>
                        <li>
                          <a href="#">Coffee Makers</a>
                        </li>
                        <li>
                          <a href="#">Ice-Cream and sorbet makers</a>
                        </li>
                      </ul>
                      <ul class="category-submenu-right">
                        <li>
                          <a href="#">Electric Kettles</a>
                        </li>
                        <li>
                          <a href="#">Food Choppers</a>
                        </li>
                        <li>
                          <a href="#">Toasters</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="angle">
                  <a href="#">Food Storage</a>
                  <ul class="category-submenu">
                    <li>
                      <a href="#" class="category-submenu-title">Food Storage</a>
                      <ul class="category-submenu-left">
                        <li>
                          <a href="#">Flask</a>
                        </li>
                        <li>
                          <a href="#">Spice Jars</a>
                        </li>
                        <li>
                          <a href="#">Storage Bags</a>
                        </li>
                      </ul>
                      <ul class="category-submenu-right">
                        <li>
                          <a href="#">Lunch Boxes</a>
                        </li>
                        <li>
                          <a href="#">Vacuum bottles</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="angle">
                  <a href="#">Knives and tools</a>
                  <ul class="category-submenu">
                    <li>
                      <a href="#" class="category-submenu-title">Knives and tools</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="nav-row-right">
          <div class="main-menu">
            <ul>
              <li>
                <a routerLink="home">
                  <i class="fa-solid fa-house-chimney"></i>
                  Home
                </a>
              </li>
              <li>
                <a href="#">About Us</a>
              </li>
              <li>
                <a href="#">Shop</a>
              </li>
              <li>
                <a href="#">Page</a>
              </li>
              <li>
                <a href="#">
                  <i class="fa-regular fa-address-book"></i>
                  Contact
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>
