<div class="breadcrumbs">
  <div class="container">
    <div class="row-cols-2" style="padding-top: 15px">
      <a href="" class="link-title">Home<i class="fa-solid fa-angle-right"></i></a><span style="color: #9d9b9b">Your Shopping Cart</span>
    </div>
  </div>
</div>
<div class="container">
<div class="row">
  <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
    <div class="buttons-cart mb-30">
      <ul>
        <li><button class="button" name="update">Update Cart</button></li>
        <li><a href="/collections/all">Continue Shopping</a></li>
      </ul>
    </div>
    <div class="coupon">
      <h3>Coupon</h3>
      <p>Enter your coupon code if you have one.</p>
      <textarea name="note" id="CartSpecialInstructions"></textarea>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="cart_totals">
      <h2>Process Checkout</h2>
      <table>
        <tbody>
        <tr class="cart-subtotal">
          <th>Subtotal Title</th>
          <td>
            <span class="amount"><span class="money" data-currency-usd="$130.00">$130.00</span></span>
          </td>
        </tr>
        <tr class="order-total">
          <th>Grand Total</th>
          <td>
            <strong>
              <span class="amount"><span class="money" data-currency-usd="$130.00">$130.00</span></span>
            </strong>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="wc-proceed-to-checkout">
        <a href="/checkout" class="button">process to checkout</a>
      </div>
    </div>
  </div>
</div>
</div>
