@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #fafafa;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-weight: 400;
  line-height: 1.35;
}
a{
  text-decoration: none;
  color: black;
}
li{
  list-style: none;
}
img{
  max-width: 100%;
}
.section{
  float: left;
  width: 100%;
}
.container{
  width: 1200px;
  float: none;
  margin: 0 auto;
}
.breadcrumbs {
  margin-bottom: 50px;
  background-color: #f1f1f1;
  height: 55px;
}
.link-title{
  padding-left:15px;
  padding-right: 5px;
  color: #e23e57;
  text-decoration: none;
}
.mb-30 {
  margin-bottom: 30px;
}
ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
ul, ol {
  margin-top: 0;
  margin-bottom: 10px;
}
ul, ol {
  margin: 0 0 15px 20px;
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, input, :before, :after {
  box-sizing: border-box;
}
user agent stylesheet
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.buttons-cart ul li {
  display: inline-block;
}
li {
  margin-bottom: 0.25em;
}.buttons-cart ul li button {
   background: #252525 none repeat scroll 0 0;
   border-radius: 0;
   box-shadow: none;
   color: #fff;
   display: inline-block;
   font-size: 12px;
   font-weight: 700;
   height: 40px;
   line-height: 40px;
   margin-right: 15px;
   padding: 0 15px;
   text-shadow: none;
   float: left;
   text-transform: uppercase;
   transition: all .3s ease 0s;
 }
input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
}
input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button, select {
  text-transform: none;
}
button {
  overflow: visible;
}
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button, input[type=submit] {
  cursor: pointer;
}
button {
  background: none;
  border: none;
  display: inline-block;
  cursor: pointer;
}
button, input, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}
input, textarea, button, select {
  padding: 0;
  margin: 0;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
button {
  overflow: visible;
}
.buttons-cart ul li a, .coupon form a {
  background: #252525 none repeat scroll 0 0;
  border-radius: 0;
  box-shadow: none;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  height: 40px;
  line-height: 40px;
  margin-right: 15px;
  padding: 0 15px;
  text-shadow: none;
  text-transform: uppercase;
  transition: all .3s ease 0s;
}
.buttons-cart input, .coupon input[type=submit], .buttons-cart a, .coupon-info p.form-row input[type=submit] {
  background: #252525 none repeat scroll 0 0;
  border: medium none;
  border-radius: 0;
  box-shadow: none;
  color: #fff;
  display: inline-block;
  float: left;
  font-size: 12px;
  font-weight: 700;
  height: 40px;
  line-height: 40px;
  margin-right: 15px;
  padding: 0 15px;
  text-shadow: none;
  text-transform: uppercase;
  transition: all .3s ease 0s;
  white-space: nowrap;
}
a {
  transition: all .3s ease 0s;
  text-decoration: none;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a {
  background-color: transparent;
}
a, .text-link {
  color: #747474;
  text-decoration: none;
  background: transparent;
}
  h3, .h3 {
    font-size: calc(1.3rem + 0.6vw);
  }
  h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }
  *, *::before, *::after {
    box-sizing: border-box;
  }
  user agent stylesheet
  h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  .coupon textarea {
    width: 100%;
  }
  .coupon textarea {
    border: 1px solid #e5e5e5;
    height: 40px;
    padding: 10px;
    width: 50%;
    outline: none;
  }
  input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: none;
  }
  input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  textarea {
    overflow: auto;
  }
  button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
  }
  textarea {
    min-height: 100px;
    min-width: 100%;
  }
  .cart_totals{
    float: right;
  }
h2, .h2 {
  font-size: 2rem;
  text-transform: none;
  border-bottom: 2px solid black;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.cart_totals table td .amount {
  color: #ec4445;
  float: right;
  font-size: 13px;
  font-weight: 700;
  margin-left: 5px;
  text-align: right;
  text-transform: uppercase;
  font-size: 12px;
}
tbody tr td {
  text-align: center;
}
.cart_totals table tr.order-total th, .cart_totals table tr.order-total .amount {
  font-size: 20px;
  text-transform: uppercase;
  white-space: nowrap;
}
.cart_totals table th, .cart_totals table td .amount {
  font-size: 15px;
}
.cart_totals table th {
  border: medium none;
  font-size: 14px;
  font-weight: 700;
  padding: 0 20px 12px 0;
  text-align: right;
  text-transform: uppercase;
  vertical-align: top;
  color: #777;
}
.cart_totals table td {
  border: medium none;
  padding: 0 0 12px;
  vertical-align: top;
}

.cart_totals table td {
  border: medium none;
  padding: 0 0 12px;
  vertical-align: top;
}
tbody tr td {
  text-align: center;
}
to-checkout a {
  background: #e23e57 none repeat scroll 0 0;
}
.wc-proceed-to-checkout a {
  background: #e23e57 none repeat scroll 0 0;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  height: 50px;
  line-height: 50px;
  margin-top: 20px;
  padding: 0 30px;
  text-transform: none;
  float: right;
}
a {
  transition: all .3s ease 0s;
  text-decoration: none;
}
.table-responsive {
  overflow-x: auto;
  min-height: 0.01%;
}
.table-content table {
  text-align: center;
}
.table-content table {
  background: #fff none repeat scroll 0 0;
  border-color: #e5e5e5;
  border-radius: 0;
  border-style: solid;
  border-width: 1px 0 0 1px;
  margin: 0 0 50px;
  text-align: center;
  width: 100%;
}
table {
  background-color: transparent;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}tr {
   display: table-row;
   vertical-align: inherit;
   border-color: inherit;
 }
th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
.table-content table td.product-thumbnail {
  width: 130px;
}
.table-content table td {
  border-top: medium none;
  font-size: 13px;
  padding: 20px 10px;
  vertical-align: middle;
}
.table-content table th, .table-content table td {
  border-bottom: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}
.cart-table td, .cart-table th {
  padding: 30px 15px;
  border: none;
}
tbody tr td {
  text-align: center;
}
td, th {
  padding: 0;
}
th, td {
  text-align: left;
  padding: 15px;
  border: 1px solid #e5e5e5;
}
.table-content table td.product-name a {
  color: #6f6f6f;
  font-size: 14px;
  font-weight: 700;
  margin-left: 10px;
  text-decoration: none;
  transition: .3s;
}
.product-name a {
  color: #777;
  transition: .3s;
}
a {
  background-color: transparent;
}
img[_ngcontent-rxn-c33] {
  max-width: 100%;
}
.table-content table td.product-price {
  width: 130px;
}
.table-content table .product-price .amount {
  font-size: 15px;
  font-weight: 700;
}
.table-content table td.product-quantity {
  width: 180px;
}
.table-content table td input {
  background: #e5e5e5 none repeat scroll 0 0;
  border: medium none;
  border-radius: 3px;
  color: #6f6f6f;
  font-size: 15px;
  font-weight: 400;
  height: 40px;
  padding: 0 9px;
  width: 48px;
  margin: 0 50px;
}
.table-content table td input {
  background: #e5e5e5 none repeat scroll 0 0;
  border: medium none;
  border-radius: 3px;
  color: #6f6f6f;
  font-size: 15px;
  font-weight: 400;
  height: 40px;
  padding: 0 5px 0 10px;
  width: 60px;
}
input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
}
input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
input {
  line-height: normal;
}
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
input, textarea, select {
  border: 1px solid #e5e5e5;
  max-width: 100%;
  padding: 8px 10px;
  border-radius: 3px;
}
button, input, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
}
input, textarea, button, select {
  padding: 0;
  margin: 0;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
body, input, textarea, button, select {
  font-size: 14px;
  line-height: 1.6;
  font-family: HelveticaNeue,Helvetica Neue,Helvetica,Arial,sans-serif;
  color: #333;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
*, input, :before, :after {
  box-sizing: border-box;
}
.table-content table td.product-subtotal {
  font-size: 14px;
  font-weight: 700;
  width: 120px;
}
.table-content table td.product-remove {
  width: 150px;
}
a {
  transition: all .3s ease 0s;
  text-decoration: none;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a {
  background-color: transparent;
}
a, .text-link {
  color: #747474;
  text-decoration: none;
  background: transparent;
}
a:hover {
  color: #ec4445;
  text-decoration: none;
}
a:active, a:hover {
  outline: 0 none;
}
a:focus {outline:0px solid}
.table-content table td.product-remove i {
  color: #919191;
  display: inline-block;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 40px;
  transition: .3s;
}
.table-content table td.product-remove i:hover{
  color:#e23e57;
}
