<div class="breadcrumbs">
  <div class="container">
    <div class="row-cols-2" style="padding-top: 15px">
      <a href="" class="link-title">Home<i class="fa-solid fa-angle-right"></i></a><span style="color: #9d9b9b">Your Shopping Cart</span>
    </div>
  </div>
</div>
<div class="container">
<div class="col-lg-12">
  <div class="cart-table table-content table-responsive">
    <table>
      <thead>
      <tr>
        <th class="product-thumbnail">Image Title</th>
        <th class="product-name">Product Title</th>
        <th class="product-price">Price Title</th>
        <th class="product-quantity">Quentity Title</th>
        <th class="product-subtotal">Total Title</th>
        <th class="product-remove">Remove Title</th>
      </tr>
      </thead>
      <tbody>


      <tr>
        <td class="product-thumbnail"><a href="/products/donec-non-est-ullamcorper?variant=6998305210431"><img src="//cdn.shopify.com/s/files/1/0005/2527/1103/products/1_small.jpg?v=1521019595" alt="man"></a></td>
        <td class="product-name"><a href="/products/donec-non-est-ullamcorper?variant=6998305210431">donec non est ullamcorper - xl / red / partex</a></td>
        <td class="product-price"><span class="amount"><span class="money" data-currency-usd="$100.00">$130.00</span></span></td>
        <td class="product-quantity"><input type="number" value="1" name="updates[]"></td>
        <td class="product-subtotal"><span class="money" data-currency-usd="$200.00">$130.00</span></td>
        <td class="product-remove"><a href="/cart/change?line=1&amp;quantity=0"><i class="fa fa-times"></i></a></td>
      </tr>


      </tbody>
    </table>
  </div>
</div>
<div class="container">
<div class="row">
  <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
    <div class="buttons-cart mb-30">
      <ul>
        <li><button class="button" name="update">Update Cart</button></li>
        <li><a routerLink="/shop">Continue Shopping</a></li>
      </ul>
    </div>
    <div class="coupon">
      <h3>Coupon</h3>
      <p>Enter your coupon code if you have one.</p>
      <textarea name="note" id="CartSpecialInstructions"></textarea>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="cart_totals">
      <h2>Process Checkout</h2>
      <table>
        <tbody>
        <tr class="cart-subtotal">
          <th>Subtotal Title</th>
          <td>
            <span class="amount"><span class="money" data-currency-usd="$130.00">$130.00</span></span>
          </td>
        </tr>
        <tr class="order-total">
          <th>Grand Total</th>
          <td>
            <strong>
              <span class="amount"><span class="money" data-currency-usd="$130.00">$130.00</span></span>
            </strong>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="wc-proceed-to-checkout">
        <a href="/informationshop" class="button">process to checkout</a>
      </div>
    </div>
  </div>
</div>
</div>
</div>
