<div id="section-mywishlist">
  <div class="breadcrumbs-section">
    <div class="breadcrumbs">
      <div class="container">
        <div class="breadcrumbs-row">
          <div class="col-lg-12">
            <div class="breadcrumbs-inner">
              <ul class="breadcrumb-list">
                <li>
                  <a routerLink="/">Home</a>
                </li>
                <li>
                  <span>Wishlist</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="products.length == 0">
    <div class="item-wishlist">
      <div class="container">
        <div class="wishlist-row">
          <div class="col-lg-12">
            <h1>Your wishlist is currently empty!</h1>
            <p>Continue browsing <a routerLink="/shop" style="color: #337ab7">here.</a></p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="products.length != 0">
    <div class="shopify-section">
      <div class="mywishlist">
        <div class="container">
          <div class="col-lg-12">
            <div class="button-removeall" style="padding: 20px; width: 100%; text-align: right">
              <button type="button" class="btn btn-danger text-light" (click)="emptycart()">Delete all</button>
            </div>
            <div class="tab-content shop">
              <div class="products-grid mb-50">
                <div class="single-product" *ngFor="let item  of products">
                  <div class="product-img">
                    <a routerLink="/product/{{item.id}}">
                      <img [src]="item.thumbnail">
                    </a>
                  </div>
                  <div class="product-text">
                    <h3 class="popup_cart_title">
                      <a routerLink="/product/{{item.id}}">{{item.title}}</a>
                    </h3>
                    <div class="rating">
                      <span class="spr-badge">
                        <span class="spr-starrating spr-badge-starrating">
                          <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                          <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                          <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                          <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                          <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                        </span>
                      </span>
                    </div>
                    <div class="price">
                      <ul>
                        <li>
                          <span class="new-price">
                            <span class="money">{{item.price}}.000Đ</span>
                          </span>
                        </li>
                      </ul>
                    </div>
                    <div class="link-button">
                      <ul>
                        <li>
                          <a (click)="addtocart(item)" class="action-btn cart">
                            <i class="fa-solid fa-cart-shopping"></i>
                          </a>
                        </li>
                        <li>
                          <a (click)="removeItem(item)" class="action--wishlist tile-actions--btn flex wishlist-btn wishlist">
                            <i class="fa-regular fa-heart"></i>
                          </a>
                        </li>
                        <li>
                          <a routerLink="/product/{{item.id}}" class="action-btn quick-view">
                            <i class="fa-regular fa-eye"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>



