@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #fafafa;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-weight: 400;
  line-height: 1.35;
}
a{
  text-decoration: none;
  color: black;
}
li{
  list-style: none;
}
img{
  max-width: 100%;
}
.section{
  float: left;
  width: 100%;
}
.container{
  width: 1200px;
  float: none;
  margin: 0 auto;
}
.btn-backtotop {
  background-color: #666;
  bottom: 35px;
  color: #fff;
  display: block;
  font-size: 25px;
  height: 40px;
  line-height: 40px;
  position: fixed;
  right: 12px;
  text-align: center;
  width: 40px;
  z-index: 9999;
  transition: .3s;
  border: none;
}
.btn-backtotop:hover {
  background: #e23e57 none repeat scroll 0 0;
}

