<div id="section-search">
  <div class="breadcrumbs-section">
    <div class="breadcrumbs">
      <div class="container">
        <div class="breadcrumbs-row">
          <div class="col-lg-12">
            <div class="breadcrumbs-inner">
              <ul class="breadcrumb-list">
                <li>
                  <a href="#">Home</a>
                </li>
                <li>
                  <span>Search</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-section">
    <div class="container">
      <div class="product-section-row">
        <div class="col-lg-offset-2">
          <h4 class="text-center search-title">Search for products on our site</h4>
<!--          <hr class="hr&#45;&#45;clear mb-50">-->
<!--          <div class="search-item">-->
<!--            <div class="products-grid-2 mb-30">-->
<!--              <div class="single-product-2">-->
<!--                <div class="product-img">-->
<!--                  <a href="#">-->
<!--                    <img class="popup_cart_image" src="//cdn.shopify.com/s/files/1/0005/2527/1103/products/8_1bff77e1-58e6-4b3c-92b7-18aeafc04bab_large.jpg?v=1521020755" alt="img">-->
<!--                  </a>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="product-text-2">-->
<!--                <h3 class="popup_cart_title">-->
<!--                  <a href="#">neque porro quisquam</a>-->
<!--                </h3>-->
<!--                <div class="rating">-->
<!--                  <span class="spr-badge">-->
<!--                    <span class="spr-starrating spr-badge-starrating">-->
<!--                      <i class="spr-icon fa-regular fa-star"></i>-->
<!--                      <i class="spr-icon fa-regular fa-star"></i>-->
<!--                      <i class="spr-icon fa-regular fa-star"></i>-->
<!--                      <i class="spr-icon fa-regular fa-star"></i>-->
<!--                      <i class="spr-icon fa-regular fa-star"></i>-->
<!--                    </span>-->
<!--                    <span class="spr-badge-caption">No reviews</span>-->
<!--                  </span>-->
<!--                </div>-->
<!--                <div class="price">-->
<!--                  <ul>-->
<!--                    <li>-->
<!--                      <span class="new-price">-->
<!--                        <span class="money">120.000Đ</span>-->
<!--                      </span>-->
<!--                    </li>-->
<!--                  </ul>-->
<!--                </div>-->
<!--                <div class="product-description">-->
<!--                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>-->
<!--                </div>-->
<!--                <a href="#">Learn More</a>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="products-grid-2 mb-30">-->
<!--              <div class="single-product-2">-->
<!--                <div class="product-img">-->
<!--                  <a href="#">-->
<!--                    <img class="popup_cart_image" src="//cdn.shopify.com/s/files/1/0005/2527/1103/products/8_1bff77e1-58e6-4b3c-92b7-18aeafc04bab_large.jpg?v=1521020755" alt="img">-->
<!--                  </a>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="product-text-2">-->
<!--                <h3 class="popup_cart_title">-->
<!--                  <a href="#">neque porro quisquam</a>-->
<!--                </h3>-->
<!--                <div class="rating">-->
<!--                  <span class="spr-badge">-->
<!--                    <span class="spr-starrating spr-badge-starrating">-->
<!--                      <i class="spr-icon fa-regular fa-star"></i>-->
<!--                      <i class="spr-icon fa-regular fa-star"></i>-->
<!--                      <i class="spr-icon fa-regular fa-star"></i>-->
<!--                      <i class="spr-icon fa-regular fa-star"></i>-->
<!--                      <i class="spr-icon fa-regular fa-star"></i>-->
<!--                    </span>-->
<!--                    <span class="spr-badge-caption">No reviews</span>-->
<!--                  </span>-->
<!--                </div>-->
<!--                <div class="price">-->
<!--                  <ul>-->
<!--                    <li>-->
<!--                      <span class="new-price">-->
<!--                        <span class="money">120.000Đ</span>-->
<!--                      </span>-->
<!--                    </li>-->
<!--                  </ul>-->
<!--                </div>-->
<!--                <div class="product-description">-->
<!--                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>-->
<!--                </div>-->
<!--                <a href="#">Learn More</a>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="products-grid-2 mb-30">-->
<!--              <div class="single-product-2">-->
<!--                <div class="product-img">-->
<!--                  <a href="#">-->
<!--                    <img class="popup_cart_image" src="//cdn.shopify.com/s/files/1/0005/2527/1103/products/8_1bff77e1-58e6-4b3c-92b7-18aeafc04bab_large.jpg?v=1521020755" alt="img">-->
<!--                  </a>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="product-text-2">-->
<!--                <h3 class="popup_cart_title">-->
<!--                  <a href="#">neque porro quisquam</a>-->
<!--                </h3>-->
<!--                <div class="rating">-->
<!--                  <span class="spr-badge">-->
<!--                    <span class="spr-starrating spr-badge-starrating">-->
<!--                      <i class="spr-icon fa-regular fa-star"></i>-->
<!--                      <i class="spr-icon fa-regular fa-star"></i>-->
<!--                      <i class="spr-icon fa-regular fa-star"></i>-->
<!--                      <i class="spr-icon fa-regular fa-star"></i>-->
<!--                      <i class="spr-icon fa-regular fa-star"></i>-->
<!--                    </span>-->
<!--                    <span class="spr-badge-caption">No reviews</span>-->
<!--                  </span>-->
<!--                </div>-->
<!--                <div class="price">-->
<!--                  <ul>-->
<!--                    <li>-->
<!--                      <span class="new-price">-->
<!--                        <span class="money">120.000Đ</span>-->
<!--                      </span>-->
<!--                    </li>-->
<!--                  </ul>-->
<!--                </div>-->
<!--                <div class="product-description">-->
<!--                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>-->
<!--                </div>-->
<!--                <a href="#">Learn More</a>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="products-grid-2 mb-30">-->
<!--              <div class="single-product-2">-->
<!--                <div class="product-img">-->
<!--                  <a href="#">-->
<!--                    <img class="popup_cart_image" src="//cdn.shopify.com/s/files/1/0005/2527/1103/products/8_1bff77e1-58e6-4b3c-92b7-18aeafc04bab_large.jpg?v=1521020755" alt="img">-->
<!--                  </a>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="product-text-2">-->
<!--                <h3 class="popup_cart_title">-->
<!--                  <a href="#">neque porro quisquam</a>-->
<!--                </h3>-->
<!--                <div class="rating">-->
<!--                  <span class="spr-badge">-->
<!--                    <span class="spr-starrating spr-badge-starrating">-->
<!--                      <i class="spr-icon fa-regular fa-star"></i>-->
<!--                      <i class="spr-icon fa-regular fa-star"></i>-->
<!--                      <i class="spr-icon fa-regular fa-star"></i>-->
<!--                      <i class="spr-icon fa-regular fa-star"></i>-->
<!--                      <i class="spr-icon fa-regular fa-star"></i>-->
<!--                    </span>-->
<!--                    <span class="spr-badge-caption">No reviews</span>-->
<!--                  </span>-->
<!--                </div>-->
<!--                <div class="price">-->
<!--                  <ul>-->
<!--                    <li>-->
<!--                      <span class="new-price">-->
<!--                        <span class="money">120.000Đ</span>-->
<!--                      </span>-->
<!--                    </li>-->
<!--                  </ul>-->
<!--                </div>-->
<!--                <div class="product-description">-->
<!--                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>-->
<!--                </div>-->
<!--                <a href="#">Learn More</a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="pagenation-area">-->
<!--            <div class="page-number">-->
<!--              <div class="pagination">-->
<!--                <ul>-->
<!--                  <li class="prev">-->
<!--                    <a href="#">-->
<!--                      <span>-->
<!--                        <i class="fa-solid fa-angle-left"></i>-->
<!--                      </span>-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li class="active">-->
<!--                    <a href="#">1</a>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <a href="#">2</a>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <a href="#">3</a>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <a href="#">4</a>-->
<!--                  </li>-->
<!--                  <li class="next">-->
<!--                    <a href="#">-->
<!--                      <span>-->
<!--                        <i class="fa-solid fa-angle-right"></i>-->
<!--                      </span>-->
<!--                    </a>-->
<!--                  </li>-->
<!--                </ul>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
        </div>
      </div>
    </div>
  </div>
</div>
