<div id="section-search">
  <div class="breadcrumbs-section">
    <div class="breadcrumbs">
      <div class="container">
        <div class="breadcrumbs-row">
          <div class="col-lg-12">
            <div class="breadcrumbs-inner">
              <ul class="breadcrumb-list">
                <li>
                  <a href="#">Home</a>
                </li>
                <li>
                  <span>Search:</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-search">
    <div class="container">
      <div class="form-search-row">
        <div class="col-lg-12">
          <div class="header-search">
              <form action="" method="get" [formGroup]="searchForm" (ngSubmit)="demoproduct()">
                <input formControlName="name" type="search" placeholder="Search our store" aria-label="Search our store" value="">
                <button routerLink="./search" type="submit">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </button>
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-section">
    <div class="container">
      <div class="product-section-row">
        <div class="col-lg-offset-2">
          <h4 [ngClass]="classh4">Search for products on our site</h4>
          <hr class="hr--clear mb-50">
          <div [ngClass]="classproduct">
            <div class="products-grid-2 mb-30" *ngFor="let m of product; let k = index;">
              <div class="single-product-2" >
                <div class="product-img">
                  <a href="#">
                    <img class="popup_cart_image" src="{{product[k].thumbnail}}" alt="img">
                  </a>
                </div>
              </div>
              <div class="product-text-2">
                <h3 class="popup_cart_title">
                  <a href="#">{{product[k].title}}</a>
                </h3>
                <div class="rating">
                  <span class="spr-badge">
                    <span class="spr-starrating spr-badge-starrating">
                      <i class="spr-icon fa-regular fa-star"></i>
                      <i class="spr-icon fa-regular fa-star"></i>
                      <i class="spr-icon fa-regular fa-star"></i>
                      <i class="spr-icon fa-regular fa-star"></i>
                      <i class="spr-icon fa-regular fa-star"></i>
                    </span>
                    <span class="spr-badge-caption">No reviews</span>
                  </span>
                </div>
                <div class="price">
                  <ul>
                    <li>
                      <span class="new-price">
                        <span class="money">{{product[k].price}}.000Đ</span>
                      </span>
                    </li>
                  </ul>
                </div>
                <div class="product-description">
                  <p>{{product[k].description}}</p>
                </div>
                <a routerLink="/product/{{product[k].id}}" class="btn" style="background-color: #e23e57; color: #ffffff">Learn More</a>
              </div>
            </div>
          </div>
<!--          <div class="pagenation-area">-->
<!--            <div class="page-number">-->
<!--              <div class="pagination">-->
<!--                <ul>-->
<!--                  <li class="prev">-->
<!--                    <a href="#">-->
<!--                      <span>-->
<!--                        <i class="fa-solid fa-angle-left"></i>-->
<!--                      </span>-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li class="active">-->
<!--                    <a href="#">1</a>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <a href="#">2</a>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <a href="#">3</a>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <a href="#">4</a>-->
<!--                  </li>-->
<!--                  <li class="next">-->
<!--                    <a href="#">-->
<!--                      <span>-->
<!--                        <i class="fa-solid fa-angle-right"></i>-->
<!--                      </span>-->
<!--                    </a>-->
<!--                  </li>-->
<!--                </ul>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
        </div>
      </div>
    </div>
  </div>
</div>
