<div id="section-home">
  <div class="shopify-section">
    <div class="banner-area-service">
      <div class="container">
        <div class="banner-area-service-row">
          <div class="bg-color">
            <div class="bg-color-left">
              <div class="single-banner box2">
                <div class="banner-icon">
                  <a href="#">
                    <i class="fa-solid fa-rotate"></i>
                  </a>
                </div>
                <div class="banner-text">
                  <h2>FREE RETURN</h2>
                  <p>30 days money back guarantee!</p>
                </div>
              </div>
            </div>
            <div class="bg-color-center">
              <div class="single-banner box2">
                <div class="banner-icon">
                  <a href="#">
                    <i class="fa-solid fa-truck"></i>
                  </a>
                </div>
                <div class="banner-text">
                  <h2>FREE RETURN</h2>
                  <p>30 days money back guarantee!</p>
                </div>
              </div>
            </div>
            <div class="bg-color-right">
              <div class="single-banner box2">
                <div class="banner-icon">
                  <a href="#">
                    <i class="fa-solid fa-phone-volume"></i>
                  </a>
                </div>
                <div class="banner-text">
                  <h2>FREE RETURN</h2>
                  <p>30 days money back guarantee!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shopify-section">
    <div class="slider-area">
      <div class="container">
        <div class="slider-area-row">
          <div class="col-lg-12">
            <div class="slider-main">
              <div class="slider-main-img">
                <a href="#">
                  <img src="https://cdn.shopify.com/s/files/1/0005/2527/1103/files/1.jpg?v=1614745220">
                </a>
              </div>
              <div class="slider-main-content">
                <h1>
                  ceramic
                  <br>
                  Cookware
                </h1>
                <h3>Get cooking with pro tools</h3>
                <a href="#">SHOP NOW</a>
              </div>
            </div>
            <div class="banner-right">
              <div class="banner-img">
                <a href="#">
                  <img src="https://cdn.shopify.com/s/files/1/0005/2527/1103/files/2_94ccbe74-9934-40a3-a2d4-d8c68bcdb681_large.jpg?v=1614745237">
                </a>
                <a href="#">
                  <img src="https://cdn.shopify.com/s/files/1/0005/2527/1103/files/1_8c32cc88-0cd4-4d9c-bd81-daa79d897581_large.jpg?v=1614745237">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shopify-section">
    <div class="onsaleproduct-area">
      <div class="container">
        <div class="onsaleproduct-area-row">
          <div class="col-lg-12-product">
            <div class="section-title text-center">
              <h2>hot deals</h2>
              <div class="timer-title">
                <i class="fa-solid fa-clock"></i>
              </div>
            </div>
            <div class="saleproduct-active">
              <div class="product-item">
                <div class="single-product">
                  <span class="hot-sale sale">Sale</span>
                  <span class="hot-sale percent">-20%</span>
                  <div class="product-img">
                    <a>
                      <img src="https://cdn.shopify.com/s/files/1/0005/2527/1103/products/4_2ed3b98e-00f0-47a7-84cd-d8fa46665527_large.jpg?v=1521019676">
                    </a>
                  </div>
                  <div class="product-text">
                    <h3 class="popup_cart_title">
                      <a href="#">Carry Bag of Leather</a>
                    </h3>
                    <div class="rating">
                      <span class="spr-badge">
                        <span class="spr-starrating spr-badge-starrating">
                          <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                          <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                          <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                          <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                          <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                        </span>
                      </span>
                    </div>
                    <div class="price">
                      <ul>
                        <li>
                          <span class="new-price">
                            <span class="money">80.000Đ</span>
                          </span>
                        </li>
                        <li>
                          <span class="old-price">
                            <span class="money">100.000Đ</span>
                          </span>
                        </li>
                      </ul>
                    </div>
                    <div class="link-button">
                      <ul>
                        <li>
                          <a href="#" class="action-btn cart">
                            <i class="fa-solid fa-cart-shopping"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#" class="action--wishlist tile-actions--btn flex wishlist-btn wishlist">
                            <i class="fa-regular fa-heart"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#" class="action-btn quick-view">
                            <i class="fa-regular fa-eye"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product-item">
                <div class="single-product">
                  <span class="hot-sale sale">Sale</span>
                  <span class="hot-sale percent">-20%</span>
                  <div class="product-img">
                    <a>
                      <img src="https://cdn.shopify.com/s/files/1/0005/2527/1103/products/3_b0bbce98-f134-472b-bd2f-00abc96b894e_large.jpg?v=1521019669">
                    </a>
                  </div>
                  <div class="product-text">
                    <h3 class="popup_cart_title">
                      <a href="#">Carry Bag of Leather</a>
                    </h3>
                    <div class="rating">
                      <span class="spr-badge">
                        <span class="spr-starrating spr-badge-starrating">
                          <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                          <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                          <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                          <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                          <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                        </span>
                      </span>
                    </div>
                    <div class="price">
                      <ul>
                        <li>
                          <span class="new-price">
                            <span class="money">80.000Đ</span>
                          </span>
                        </li>
                        <li>
                          <span class="old-price">
                            <span class="money">100.000Đ</span>
                          </span>
                        </li>
                      </ul>
                    </div>
                    <div class="link-button">
                      <ul>
                        <li>
                          <a href="#" class="action-btn cart">
                            <i class="fa-solid fa-cart-shopping"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#" class="action--wishlist tile-actions--btn flex wishlist-btn wishlist">
                            <i class="fa-regular fa-heart"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#" class="action-btn quick-view">
                            <i class="fa-regular fa-eye"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product-item">
                <div class="single-product">
                  <span class="hot-sale sale">Sale</span>
                  <span class="hot-sale percent">-20%</span>
                  <div class="product-img">
                    <a>
                      <img src="https://cdn.shopify.com/s/files/1/0005/2527/1103/products/1_large.jpg?v=1521019595">
                    </a>
                  </div>
                  <div class="product-text">
                    <h3 class="popup_cart_title">
                      <a href="#">Carry Bag of Leather</a>
                    </h3>
                    <div class="rating">
                      <span class="spr-badge">
                        <span class="spr-starrating spr-badge-starrating">
                          <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                          <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                          <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                          <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                          <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                        </span>
                      </span>
                    </div>
                    <div class="price">
                      <ul>
                        <li>
                          <span class="new-price">
                            <span class="money">80.000Đ</span>
                          </span>
                        </li>
                        <li>
                          <span class="old-price">
                            <span class="money">100.000Đ</span>
                          </span>
                        </li>
                      </ul>
                    </div>
                    <div class="link-button">
                      <ul>
                        <li>
                          <a href="#" class="action-btn cart">
                            <i class="fa-solid fa-cart-shopping"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#" class="action--wishlist tile-actions--btn flex wishlist-btn wishlist">
                            <i class="fa-regular fa-heart"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#" class="action-btn quick-view">
                            <i class="fa-regular fa-eye"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product-item">
                <div class="single-product">
                  <span class="hot-sale sale">Sale</span>
                  <span class="hot-sale percent">-20%</span>
                  <div class="product-img">
                    <a>
                      <img src="https://cdn.shopify.com/s/files/1/0005/2527/1103/products/2_5fa2e27e-a58f-4f70-b301-df0b55fd5d6c_large.jpg?v=1521019660">
                    </a>
                  </div>
                  <div class="product-text">
                    <h3 class="popup_cart_title">
                      <a href="#">Carry Bag of Leather</a>
                    </h3>
                    <div class="rating">
                      <span class="spr-badge">
                        <span class="spr-starrating spr-badge-starrating">
                          <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                          <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                          <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                          <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                          <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                        </span>
                      </span>
                    </div>
                    <div class="price">
                      <ul>
                        <li>
                          <span class="new-price">
                            <span class="money">80.000Đ</span>
                          </span>
                        </li>
                        <li>
                          <span class="old-price">
                            <span class="money">100.000Đ</span>
                          </span>
                        </li>
                      </ul>
                    </div>
                    <div class="link-button">
                      <ul>
                        <li>
                          <a href="#" class="action-btn cart">
                            <i class="fa-solid fa-cart-shopping"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#" class="action--wishlist tile-actions--btn flex wishlist-btn wishlist">
                            <i class="fa-regular fa-heart"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#" class="action-btn quick-view">
                            <i class="fa-regular fa-eye"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product-item">
                <div class="single-product">
                  <span class="hot-sale sale">Sale</span>
                  <span class="hot-sale percent">-20%</span>
                  <div class="product-img">
                    <a>
                      <img src="https://cdn.shopify.com/s/files/1/0005/2527/1103/products/21_a7633845-691e-4357-8940-62abf5199571_large.jpg?v=1521020079">
                    </a>
                  </div>
                  <div class="product-text">
                    <h3 class="popup_cart_title">
                      <a href="#">Carry Bag of Leather</a>
                    </h3>
                    <div class="rating">
                      <span class="spr-badge">
                        <span class="spr-starrating spr-badge-starrating">
                          <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                          <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                          <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                          <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                          <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                        </span>
                      </span>
                    </div>
                    <div class="price">
                      <ul>
                        <li>
                          <span class="new-price">
                            <span class="money">80.000Đ</span>
                          </span>
                        </li>
                        <li>
                          <span class="old-price">
                            <span class="money">100.000Đ</span>
                          </span>
                        </li>
                      </ul>
                    </div>
                    <div class="link-button">
                      <ul>
                        <li>
                          <a href="#" class="action-btn cart">
                            <i class="fa-solid fa-cart-shopping"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#" class="action--wishlist tile-actions--btn flex wishlist-btn wishlist">
                            <i class="fa-regular fa-heart"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#" class="action-btn quick-view">
                            <i class="fa-regular fa-eye"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shopify-section">
    <div class="banner-area">
      <div class="container">
        <div class="banner-area-row">
          <div class="col-lg-6">
            <div class="banner-img mb-30">
              <a href="#">
                <img src="https://cdn.shopify.com/s/files/1/0005/2527/1103/files/3.jpg?v=1614745311">
              </a>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="banner-img mb-30">
              <a href="#">
                <img src="https://cdn.shopify.com/s/files/1/0005/2527/1103/files/39.jpg?v=1614745311">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shopify-section">
    <div class="product-cookware-area">
      <div class="container">
        <div class="product-cookware-area-row">
          <div class="product-cookware-area-left">
            <div class="product-header product-header-2">
              
            </div>
            <div class="tab-content">

            </div>
            <div class="saleproduct-active">

            </div>
            <div class="baner-area mtb-40">

            </div>
          </div>
          <div class="product-cookware-area-right"></div>
        </div>
      </div>
    </div>
  </div>
</div>
