<div id="section-home">
  <div class="shopify-section">
    <div class="banner-area-service">
      <div class="container">
        <div class="banner-area-service-row">
          <div class="bg-color">
            <div class="bg-color-left">
              <div class="single-banner box2">
                <div class="banner-icon">
                  <a>
                    <i class="fa-solid fa-rotate"></i>
                  </a>
                </div>
                <div class="banner-text">
                  <h2>FREE RETURN</h2>
                  <p>30 days money back guarantee!</p>
                </div>
              </div>
            </div>
            <div class="bg-color-center">
              <div class="single-banner box2">
                <div class="banner-icon">
                  <a>
                    <i class="fa-solid fa-truck"></i>
                  </a>
                </div>
                <div class="banner-text">
                  <h2>FREE RETURN</h2>
                  <p>30 days money back guarantee!</p>
                </div>
              </div>
            </div>
            <div class="bg-color-right">
              <div class="single-banner box2">
                <div class="banner-icon">
                  <a>
                    <i class="fa-solid fa-phone-volume"></i>
                  </a>
                </div>
                <div class="banner-text">
                  <h2>FREE RETURN</h2>
                  <p>30 days money back guarantee!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shopify-section">
    <div class="slider-area">
      <div class="container">
        <div class="slider-area-row">
          <div class="col-lg-12">
            <div class="slider-main">
              <div class="slider-main-img">
                <a href="/shop">
                  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style="max-height: 490.49px ; overflow: hidden">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="https://cdn.shopify.com/s/files/1/0005/2527/1103/files/2.jpg?v=1614745220" class="d-block w-100" alt="...">
                        <div class="slider-main-content">
                          <h1>
                            ceramic
                            <br>
                            Cookware
                          </h1>
                          <h3>Get cooking with pro tools</h3>
                          <a routerLink="./shop">SHOP NOW</a>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="https://cdn.shopify.com/s/files/1/0005/2527/1103/files/1.jpg?v=1614745220" class="d-block w-100" alt="...">
                        <div class="slider-main-content">
                          <h1>
                            Cooking made
                            <br>
                            Super easy
                          </h1>
                          <h3>Premium cookers</h3>
                          <a routerLink="./shop">SHOP NOW</a>
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                </a>
              </div>
            </div>
            <div class="banner-right">
              <div class="banner-img">
                <a routerLink="./shop">
                  <img src="https://cdn.shopify.com/s/files/1/0005/2527/1103/files/2_94ccbe74-9934-40a3-a2d4-d8c68bcdb681_large.jpg?v=1614745237">
                </a>
                <a routerLink="./shop">
                  <img src="https://cdn.shopify.com/s/files/1/0005/2527/1103/files/1_8c32cc88-0cd4-4d9c-bd81-daa79d897581_large.jpg?v=1614745237">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shopify-section">
    <div class="onsaleproduct-area">
      <div class="container">
        <div class="onsaleproduct-area-row">
          <div class="col-lg-12-product">
            <div class="section-title text-center">
              <h2>hot deals</h2>
            </div>
            <div class="saleproduct-active">
              <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide *ngFor="let m of product; let i = index">
                  <div class="slide" >
                    <div class="product-item">
                      <div class="single-product">
                        <!--                        <span class="hot-sale sale">Sale</span>-->
                        <!--                        <span class="hot-sale percent">-20%</span>-->
                        <div class="product-img">
                          <a routerLink="/product/{{m.id}}">
                            <img [src]="m.thumbnail" >
                          </a>
                        </div>
                        <div class="product-text">
                          <h3 class="popup_cart_title">
                            <a routerLink="/product/{{m.id}}">{{m.title}}</a>
                          </h3>
                          <div class="rating">
                            <span class="spr-badge">
                              <span class="spr-starrating spr-badge-starrating">
                                <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                                <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                                <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                                <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                                <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                              </span>
                            </span>
                          </div>
                          <div class="price">
                            <ul>
                              <li>
                                <span class="new-price">
                                  <span class="money">{{m.price}}.000Đ</span>
                                </span>
                              </li>
                            </ul>
                          </div>
                          <div class="link-button">
                            <ul>
                              <li>
                                <a (click)="addtocart(m)" class="action-btn cart">
                                  <i class="fa-solid fa-cart-shopping"></i>
                                </a>
                              </li>
                              <li>
                                <a (click)="addtoWishList(m)" class="action--wishlist tile-actions--btn flex wishlist-btn wishlist">
                                  <i class="fa-regular fa-heart"></i>
                                </a>
                              </li>
                              <li>
                                <a routerLink="/product/{{m.id}}" class="action-btn quick-view">
                                  <i class="fa-regular fa-eye"></i>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </owl-carousel-o>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shopify-section">
    <div class="banner-area">
      <div class="container">
        <div class="banner-area-row">
          <div class="col-lg-6">
            <div class="banner-img mb-30">
              <a routerLink="./shop">
                <img src="https://cdn.shopify.com/s/files/1/0005/2527/1103/files/3.jpg?v=1614745311">
              </a>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="banner-img mb-30">
              <a routerLink="./shop">
                <img src="https://cdn.shopify.com/s/files/1/0005/2527/1103/files/39.jpg?v=1614745311">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shopify-section">
    <div class="product-cookware-area">
      <div class="container">
        <div class="product-cookware-area-row">
          <div class="product-cookware-area-left">
            <div class="tab-content">
              <div class="tab-content-tab">
                <div class="tab-content-title">
                  <div class="tab-content-title-h2">
                    <h2>Cookware</h2>
                  </div>
                  <ul class="tab-menu">
                    <li id="new-arrivals" [class.active]="id === 'new-arrivals'" (click)="tabChange('new-arrivals')">Cooking Pans</li>
                    <li id="jackets" [class.active]="id === 'jackets'" (click)="tabChange('jackets')">Frying Pans</li>
                    <li id="weaters" [class.active]="id === 'weaters'" (click)="tabChange('weaters')">Cookwear Sets</li>
                  </ul>
                </div>
                <div class="content">
                  <div class="tab-pane" *ngIf="id === 'new-arrivals'">
                    <div class="tab-pane-row">
                      <div class="tab-pane-left">
                        <div class="tab-img">
                          <a href="/shop">
                            <img src="https://cdn.shopify.com/s/files/1/0005/2527/1103/files/5_grande.jpg?v=1614745922">
                          </a>
                        </div>
                      </div>
                      <div class="tab-pane-right">
                        <div class="owl-stage-outer">
                          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active" *ngFor="let cp of productcookingpost">
                                <div class="owl-item">
                                  <div class="single-tab">
                                    <div class="tab-text">
                                      <h3 class="popup_cart_title">
                                        <a routerLink="/product/{{cp.id}}">{{cp.title}}</a>
                                      </h3>
                                      <div class="tab-price">
                                        <ul>
                                          <li>
                                            <span class="new-price">{{cp.price}}.000Đ</span>
                                          </li>
                                        </ul>
                                      </div>
                                      <a (click)="addtocart(cp)" class="cart__menu">
                                        <span class="addto">Add To Cart</span>
                                      </a>
                                    </div>
                                    <div class="single-tab-img">
                                      <a routerLink="/product/{{cp.id}}">
                                        <img [src]="cp.thumbnail">
                                      </a>
                                    </div>
                                  </div>
                                </div>
                              </div>

                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" *ngIf="id === 'jackets'">
                    <div class="tab-pane-row">
                      <div class="tab-pane-left">
                        <div class="tab-img">
                          <a href="/shop">
                            <img src="https://cdn.shopify.com/s/files/1/0005/2527/1103/files/12_grande.jpg?v=1614746084">
                          </a>
                        </div>
                      </div>
                      <div class="tab-pane-right">
                        <div class="owl-stage-outer">
                          <div id="carouselExampleControls1" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active" *ngFor="let fp of productfryingpans">
                                <div class="owl-item">
                                  <div class="single-tab">
                                    <div class="tab-text">
                                      <h3 class="popup_cart_title">
                                        <a routerLink="/product/{{fp.id}}">{{fp.title}}</a>
                                      </h3>
                                      <div class="tab-price">
                                        <ul>
                                          <li>
                                            <span class="new-price">{{fp.price}}.000Đ</span>
                                          </li>
                                        </ul>
                                      </div>
                                      <a (click)="addtocart(fp)" class="cart__menu">
                                        <span class="addto">Add To Cart</span>
                                      </a>
                                    </div>
                                    <div class="single-tab-img">
                                      <a routerLink="/product/{{fp.id}}">
                                        <img [src]="fp.thumbnail">
                                      </a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls1" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls1" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" *ngIf="id === 'weaters'">
                    <div class="tab-pane-row">
                      <div class="tab-pane-left">
                        <div class="tab-img">
                          <a href="/shop">
                            <img src="https://cdn.shopify.com/s/files/1/0005/2527/1103/files/5_grande.jpg?v=1614745922">
                          </a>
                        </div>
                      </div>
                      <div class="tab-pane-right">
                        <div class="owl-stage-outer">
                          <div id="carouselExampleControls2" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active" *ngFor="let cs of productcookwearsets">
                                <div class="owl-item">
                                  <div class="single-tab">
                                    <div class="tab-text">
                                      <h3 class="popup_cart_title">
                                        <a routerLink="/product/{{cs.id}}">{{cs.title}}</a>
                                      </h3>
                                      <div class="tab-price">
                                        <ul>
                                          <li>
                                            <span class="new-price">{{cs.price}}.000Đ</span>
                                          </li>
                                        </ul>
                                      </div>
                                      <a (click)="addtocart(cs)" class="cart__menu">
                                        <span class="addto">Add To Cart</span>
                                      </a>
                                    </div>
                                    <div class="single-tab-img">
                                      <a routerLink="/product/{{cs.id}}">
                                        <img [src]="cs.thumbnail">
                                      </a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="saleproduct-active">
              <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide *ngFor="let k of productcookwear; let i = index ">
                  <div class="slide">
                    <div class="product-item">
                      <div class="single-product">
                        <!--                        <span class="hot-sale sale">Sale</span>-->
                        <!--                        <span class="hot-sale percent">-20%</span>-->
                        <div class="product-img">
                          <a routerLink="/product/{{k.id}}">
                            <img [src]="k.thumbnail">
                          </a>
                        </div>
                        <div class="product-text">
                          <h3 class="popup_cart_title">
                            <a routerLink="/product/{{k.id}}">{{k.title}}</a>
                          </h3>
                          <div class="rating">
                      <span class="spr-badge">
                        <span class="spr-starrating spr-badge-starrating">
                          <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                          <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                          <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                          <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                          <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                        </span>
                      </span>
                          </div>
                          <div class="price">
                            <ul>
                              <li>
                          <span class="new-price">
                            <span class="money">80.000Đ</span>
                          </span>
                              </li>
                            </ul>
                          </div>
                          <div class="link-button">
                            <ul>
                              <li>
                                <a (click)="addtocart(k)" class="action-btn cart">
                                  <i class="fa-solid fa-cart-shopping"></i>
                                </a>
                              </li>
                              <li>
                                <a (click)="addtoWishList(k)" class="action--wishlist tile-actions--btn flex wishlist-btn wishlist">
                                  <i class="fa-regular fa-heart"></i>
                                </a>
                              </li>
                              <li>
                                <a routerLink="/product/{{k.id}}" class="action-btn quick-view">
                                  <i class="fa-regular fa-eye"></i>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </owl-carousel-o>
            </div>
            <div class="baner-area mtb-40">
              <div class="banner-img">
                <a routerLink="./shop">
                  <img src="https://cdn.shopify.com/s/files/1/0005/2527/1103/files/10_1f60748f-3c65-4d03-8d69-eaedd13ab063.jpg?v=1614746828">
                </a>
              </div>
            </div>
          </div>
          <div class="product-cookware-area-right">
            <div class="bestsellerproduct-area mb-40 ">
              <div class="section-title text-left">
                <h2>best seller</h2>
              </div>
              <div class="bestsellerproduct-active">
                <div class="single-bestseller">
                  <div class="single-product border-bottom" *ngFor="let acb of productcookwearbestseller">
                    <div class="product-img">
                      <a routerLink="/product/{{acb.id}}">
                        <img [src]="acb.thumbnail">
                      </a>
                    </div>
                    <div class="product-text">
                      <h3 class="popup_cart_title">
                        <a routerLink="/product/{{acb.id}}">{{acb.title}}</a>
                      </h3>
                      <div class="rating">
                        <span class="spr-badge">
                          <span class="spr-starrating spr-badge-starrating">
                            <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                            <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                            <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                            <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                            <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                          </span>
                        </span>
                      </div>
                      <div class="price">
                        <ul>
                          <li>
                            <span class="new-price">
                              <span class="money">{{acb.price}}.000Đ</span>
                            </span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="testimonial-area mb-40">
              <div class="testimonial-active">
                <div class="owl-stage-outer">
                  <div class="owl-item">
                    <div class="single-testimonial text-center">
                      <div class="testimonial-img">
                        <a>
                          <img src="https://cdn.shopify.com/s/files/1/0005/2527/1103/files/2_5970b734-0f82-43e4-9122-e717e97f1e60_small.png?v=1614746828">
                        </a>
                      </div>
                      <div class="testimonial-text">
                        <p>Angara is an online store that sells kitchenware.</p>
                        <h3>Angana</h3>
                        <span class="job">Webdesigner</span>
                        <span class="email">hiepntht2204022@fpt.edu.vn</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shopify-section">
    <div class="product-cookware-area">
      <div class="container">
        <div class="product-cookware-area-row">
          <div class="product-cookware-area-left">
            <div class="tab-content">
              <div class="tab-content-tab">
                <div class="tab-content-title">
                  <div class="tab-content-title-h2">
                    <h2>APPLIANCES</h2>
                  </div>
                  <ul class="tab-menu">
                    <li id="shop-new" [class.active]="id1 === 'shop-new'" (click)="tabChange1('shop-new')">Blenders</li>
                    <li id="shirts" [class.active]="id1 === 'shirts'" (click)="tabChange1('shirts')">Electric Kettles</li>
                    <li id="tops-tees" [class.active]="id1 === 'tops-tees'" (click)="tabChange1('tops-tees')">Toasters</li>
                  </ul>
                </div>
                <div class="content">
                  <div class="tab-pane" *ngIf="id1 === 'shop-new'">
                    <div class="tab-pane-row">
                      <div class="tab-pane-left">
                        <div class="tab-img">
                          <a href="/shop">
                            <img src="https://cdn.shopify.com/s/files/1/0005/2527/1103/files/5_grande.jpg?v=1614745922">
                          </a>
                        </div>
                      </div>
                      <div class="tab-pane-right">
                        <div class="owl-stage-outer">
                          <div id="carouselExampleControls3" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active" *ngFor="let b of productBlenders">
                                <div class="owl-item">
                                  <div class="single-tab">
                                    <div class="tab-text">
                                      <h3 class="popup_cart_title">
                                        <a routerLink="/product/{{b.id}}">{{b.title}}</a>
                                      </h3>
                                      <div class="tab-price">
                                        <ul>
                                          <li>
                                            <span class="new-price">{{b.price}}.000Đ</span>
                                          </li>
                                        </ul>
                                      </div>
                                      <a (click)="addtocart(b)" class="cart__menu">
                                        <span class="addto">Add To Cart</span>
                                      </a>
                                    </div>
                                    <div class="single-tab-img">
                                      <a routerLink="/product/{{b.id}}">
                                        <img [src]="b.thumbnail">
                                      </a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls3" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls3" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" *ngIf="id1 === 'shirts'">
                    <div class="tab-pane-row">
                      <div class="tab-pane-left">
                        <div class="tab-img">
                          <a href="/shop">
                            <img src="https://cdn.shopify.com/s/files/1/0005/2527/1103/files/12_grande.jpg?v=1614746084">
                          </a>
                        </div>
                      </div>
                      <div class="tab-pane-right">
                        <div class="owl-stage-outer">
                          <div id="carouselExampleControls4" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active" *ngFor="let ek of productElectrickettles">
                                <div class="owl-item">
                                  <div class="single-tab">
                                    <div class="tab-text">
                                      <h3 class="popup_cart_title">
                                        <a routerLink="/product/{{ek.id}}">{{ek.title}}</a>
                                      </h3>
                                      <div class="tab-price">
                                        <ul>
                                          <li>
                                            <span class="new-price">{{ek.price}}.000Đ</span>
                                          </li>
                                        </ul>
                                      </div>
                                      <a (click)="addtocart(ek)" class="cart__menu">
                                        <span class="addto">Add To Cart</span>
                                      </a>
                                    </div>
                                    <div class="single-tab-img">
                                      <a routerLink="/product/{{ek.id}}">
                                        <img [src]="ek.thumbnail">
                                      </a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls4" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls4" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" *ngIf="id1 === 'tops-tees'">
                    <div class="tab-pane-row">
                      <div class="tab-pane-left">
                        <div class="tab-img">
                          <a href="/shop">
                            <img src="https://cdn.shopify.com/s/files/1/0005/2527/1103/files/5_grande.jpg?v=1614745922">
                          </a>
                        </div>
                      </div>
                      <div class="tab-pane-right">
                        <div class="owl-stage-outer">
                          <div id="carouselExampleControls5" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active" *ngFor="let tr of productToasters">
                                <div class="owl-item">
                                  <div class="single-tab">
                                    <div class="tab-text">
                                      <h3 class="popup_cart_title">
                                        <a routerLink="/product/{{tr.id}}">{{tr.title}}</a>
                                      </h3>
                                      <div class="tab-price">
                                        <ul>
                                          <li>
                                            <span class="new-price">{{tr.price}}.000Đ</span>
                                          </li>
                                        </ul>
                                      </div>
                                      <a (click)="addtocart(tr)" class="cart__menu">
                                        <span class="addto">Add To Cart</span>
                                      </a>
                                    </div>
                                    <div class="single-tab-img">
                                      <a routerLink="/product/{{tr.id}}">
                                        <img [src]="tr.thumbnail">
                                      </a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls5" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls5" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="saleproduct-active">
              <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide *ngFor="let a of productappliances">
                  <div class="slide">
                    <div class="product-item">
                      <div class="single-product">
                        <!--                        <span class="hot-sale sale">Sale</span>-->
                        <!--                        <span class="hot-sale percent">-20%</span>-->
                        <div class="product-img">
                          <a routerLink="/product/{{a.id}}">
                            <img [src]="a.thumbnail">
                          </a>
                        </div>
                        <div class="product-text">
                          <h3 class="popup_cart_title">
                            <a routerLink="/product/{{a.id}}">{{a.title}}</a>
                          </h3>
                          <div class="rating">
                      <span class="spr-badge">
                        <span class="spr-starrating spr-badge-starrating">
                          <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                          <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                          <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                          <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                          <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                        </span>
                      </span>
                          </div>
                          <div class="price">
                            <ul>
                              <li>
                          <span class="new-price">
                            <span class="money">{{a.price}}.000Đ</span>
                          </span>
                              </li>
                            </ul>
                          </div>
                          <div class="link-button">
                            <ul>
                              <li>
                                <a (click)="addtocart(a)" class="action-btn cart">
                                  <i class="fa-solid fa-cart-shopping"></i>
                                </a>
                              </li>
                              <li>
                                <a (click)="addtoWishList(a)" class="action--wishlist tile-actions--btn flex wishlist-btn wishlist">
                                  <i class="fa-regular fa-heart"></i>
                                </a>
                              </li>
                              <li>
                                <a routerLink="/product/{{a.id}}" class="action-btn quick-view">
                                  <i class="fa-regular fa-eye"></i>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </owl-carousel-o>
            </div>
            <div class="baner-area mtb-40">
              <div class="banner-img">
                <a routerLink="./shop">
                  <img src="https://cdn.shopify.com/s/files/1/0005/2527/1103/files/11.jpg?v=1614746083">
                </a>
              </div>
            </div>
          </div>
          <div class="product-cookware-area-right">
            <div class="bestsellerproduct-area mb-40 ">
              <div class="section-title text-left">
                <h2>best seller</h2>
              </div>
              <div class="bestsellerproduct-active">
                <div class="single-bestseller">
                  <div class="single-product border-bottom" *ngFor="let abs of productappliancesbestseller">
                    <div class="product-img">
                      <a routerLink="/product/{{abs.id}}">
                        <img [src]="abs.thumbnail">
                      </a>
                    </div>
                    <div class="product-text">
                      <h3 class="popup_cart_title">
                        <a routerLink="/product/{{abs.id}}">{{abs.title}}</a>
                      </h3>
                      <div class="rating">
                        <span class="spr-badge">
                          <span class="spr-starrating spr-badge-starrating">
                            <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                            <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                            <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                            <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                            <i class="spr-icon spr-icon-star-empty fa-regular fa-star"></i>
                          </span>
                        </span>
                      </div>
                      <div class="price">
                        <ul>
                          <li>
                            <span class="new-price">
                              <span class="money">{{abs.price}}.000Đ</span>
                            </span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="baner-area mb-40 mt-33">
              <div class="banner-img">
                <a routerLink="./shop">
                  <img src="https://cdn.shopify.com/s/files/1/0005/2527/1103/files/13.jpg?v=1614746083">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shopify-section">
    <div class="shop-category-area">
      <div class="container">
        <div class="shop-category-area-row">
          <div class="col-lg-12">
            <div class="section-title text-left">
              <h2>Shop by Category</h2>
            </div>
          </div>
        </div>
        <div class="shop-category-area-row">
          <div class="shop-category-single">
            <div class="shop-category-single-item">
              <div class="single-shop mb-30">
                <div class="shop-img">
                  <a href="/shop">
                    <img src="https://cdn.shopify.com/s/files/1/0005/2527/1103/files/8_large.jpg?v=1614746325">
                  </a>
                </div>
                <div class="shop-text">
                  <h3>COOKWARE</h3>
                  <ul>
                    <li>
                      <a routerLink="/shop">Cooking Pots</a>
                    </li>
                    <li>
                      <a routerLink="/shop">Cooking Pans</a>
                    </li>
                    <li>
                      <a routerLink="/shop">Frying Pans</a>
                    </li>
                    <li>
                      <a routerLink="/shop">Cookwear Sets</a>
                    </li>
                    <li>
                      <a routerLink="/shop">More caretogys...</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="shop-category-single-item">
              <div class="single-shop mb-30">
                <div class="shop-img">
                  <a routerLink="/shop">
                    <img src="https://cdn.shopify.com/s/files/1/0005/2527/1103/files/1_88889494-7fa4-4222-ba89-29c7e0c64daa_large.jpg?v=1614746324">
                  </a>
                </div>
                <div class="shop-text">
                  <h3>REFRIGERATION</h3>
                  <ul>
                    <li>
                      <a routerLink="/shop">Freezers</a>
                    </li>
                    <li>
                      <a routerLink="/shop">Refrigerators</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="shop-category-single-item">
              <div class="single-shop mb-30">
                <div class="shop-img">
                  <a routerLink="/shop">
                    <img src="https://cdn.shopify.com/s/files/1/0005/2527/1103/files/2_9bddeb35-1bc3-4b17-a055-802817006826_large.jpg?v=1614746325">
                  </a>
                </div>
                <div class="shop-text">
                  <h3>APPLIANCES</h3>
                  <ul>
                    <li>
                      <a routerLink="/shop">Blenders</a>
                    </li>
                    <li>
                      <a routerLink="/shop">Bread Makers</a>
                    </li>
                    <li>
                      <a routerLink="/shop">Coffee Makers</a>
                    </li>
                    <li>
                      <a routerLink="/shop">Electric Kettles</a>
                    </li>
                    <li>
                      <a routerLink="/shop">More caretogys...</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="shop-category-area-row">
          <div class="shop-category-single">
            <div class="shop-category-single-item">
              <div class="single-shop mb-30">
                <div class="shop-img">
                  <a routerLink="/shop">
                    <img src="https://cdn.shopify.com/s/files/1/0005/2527/1103/files/6_large.jpg?v=1614746325">
                  </a>
                </div>
                <div class="shop-text">
                  <h3>FOOD STORAGE</h3>
                  <ul>
                    <li>
                      <a routerLink="/shop">Flask</a>
                    </li>
                    <li>
                      <a routerLink="/shop">Spice Jars</a>
                    </li>
                    <li>
                      <a routerLink="/shop">Storage Bags</a>
                    </li>
                    <li>
                      <a routerLink="/shop">Lunch Boxes</a>
                    </li>
                    <li>
                      <a routerLink="/shop">More caretogys...</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="shop-category-single-item">
              <div class="single-shop mb-30">
                <div class="shop-img">
                  <a routerLink="/shop">
                    <img src="https://cdn.shopify.com/s/files/1/0005/2527/1103/files/3_6e7e62ee-1dcf-43ce-a3f8-44467f6a5f83_large.jpg?v=1614746325">
                  </a>
                </div>
                <div class="shop-text">
                  <h3>KNIVES AND TOOLS</h3>
                  <ul>
                    <li>
                      <a routerLink="/shop">Knives</a>
                    </li>
                    <li>
                      <a routerLink="/shop">Tools</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
