<section class="gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card" style="width: 100%">
          <div class="row g-0">
            <div class="card-body p-md-5 mx-md-4">
              <div class="text-center">
                <img
                  src="assets/img/logokitchen.png"
                  style="width: 185px;" alt="logo">
                <h4 class="mt-1 mb-5 pb-1"></h4>
              </div>
              <h2>Register for an account</h2>
              <form [formGroup]="formSub" (submit)="onSub()">
                <div class="input-group mb-3">
                  <span class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" placeholder="Email" aria-label="Email"
                         aria-describedby="basic-addon1" formControlName="email">
                </div>
                <div *ngIf="f['email'].touched && f['email'].errors">
                  <small class="help-block" *ngIf="f['email'].errors['required']">please enter your email !</small>
                  <small class="help-block" *ngIf="f['email'].errors['email']">please enter a valid email address !</small>
                  <small class="help-block" *ngIf="f['email'].errors['minlength']">minimum 12 characters for emails !</small>
                </div>

                <div class="input-group mb-3">
                  <span class="input-group-text"><i class="fa fa-key" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" placeholder="Password" aria-label="Password"
                         aria-describedby="basic-addon1" formControlName="password">
                </div>
                <div *ngIf="f['password'].touched && f['password'].errors">
                  <small class="help-block" *ngIf="f['password'].errors['required']">please enter Password !</small>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text"><i class="fa fa-key" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" placeholder="Re-type password" aria-label="Re-type password"
                         aria-describedby="basic-addon1" formControlName="repassword">
                </div>
                <div *ngIf="f['repassword'].touched && f['repassword'].errors">
                  <small class="help-block" *ngIf="f['repassword'].errors['required']">please enter Re-type Password !</small>
                </div>
                <div class="input-group">
                  <span class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></span>
                  <input type="text" aria-label="First name" class="form-control" placeholder="first name" formControlName="firstName">
                  <input type="text" aria-label="Last name" class="form-control" placeholder="last name" formControlName="lastName">
                </div>
                <div *ngIf="f['firstName'].touched && f['firstName'].errors">
                  <small class="help-block-first" *ngIf="f['firstName'].errors['required']">please enter FirstName !</small>
                </div>
                <div *ngIf="f['lastName'].touched && f['lastName'].errors">
                  <small class="help-block-last" *ngIf="f['lastName'].errors['required']">please enter LastName !</small>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="gioitinh" value="option1">
                  <label class="form-check-label">male</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="gioitinh" value="option1">
                  <label class="form-check-label">Female</label>
                </div>

                <div class="form-check" id="123">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    I agree with terms and conditions
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                  <label class="form-check-label" for="flexCheckChecked">
                    I want to receive the newsletter
                  </label>
                </div>

                <div class="text-center pt-1 mb-5 pb-1">
                  <button class="register" type="submit" [disabled]="f['email'].errors || f['password'].errors || f['repassword'].errors || f['firstName'].errors || f['lastName'].errors">Register</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

